@use 'setting' as *;

.body-header-active {
  .footer-fixed-line {
    opacity: 1;
    transform: translateY(0px);
  }
}

.footer {
  background-color: #fefbf5;
  position: relative;
  padding: 75px 0px 20px;
  z-index: 4;

  @include media(middle) {
    //padding: 45px 0px 80px;
  }

  .content-width {
    @include media(lg) {
      width: 90%;
    }

    @include media(middle) {
      width: 85%;
    }
  }

  .footer-wrap {
    margin-bottom: 30px;

    .footer-wrap-menu {
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-between;
      gap: 45px;
      margin-bottom: 48px;

      @include media(middle-small) {
        gap: 0;
      }

      .accordion {
        @include media(middle-small) {
          width: 100%;
          border-bottom: solid 1px #3C3636;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }

        a {
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.1em;

          &::before {
            display: none;
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 2.5px;
            background-color: #3C3636;
            transition: transform 0.3s ease;

            @include media(middle-small) {
              display: block;
            }
          }

          &::after {
            display: none;
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            width: 15px;
            height: 2.5px;
            background-color: #3C3636;
            transition: transform 0.3s ease;

            @include media(middle-small) {
              display: block;
            }
          }

          &.open::after {
            transform: translateY(-50%) rotate(0deg); // マイナスになる
          }

          @include media(middle-small) {
            width: 100%;
            display: block;
            position: relative;
          }
        }
      }

      .accordion-none {
        width: 100%;

        dt {
          @include media(middle-small) {
            width: 100%;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: solid 1px #3C3636;
          }

          a {
            display: block;
          }
        }
      }

      dl {

        dt {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          @include media(middle-small) {
            margin-bottom: 0;
          }

          a {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.1em;


            &.open::after {
              transform: translateY(-50%) rotate(0deg); // マイナスになる
            }

            @include media(middle-small) {
              width: 100%;
              display: block;
              position: relative;
            }
          }
        }

        dd {
          margin-bottom: 10px;

          @include media(middle-small) {
            margin-bottom: 0;
            max-height: 0;
            transition: max-height 0.5s ease, opacity 0.5s ease;
          }


          &:last-child {
            margin-bottom: 0;
          }


          a {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.1em;

            @include media(middle-small) {
              line-height: 2;
              opacity: 0;
            }
          }
        }

        &.active {
          dd {
            @include media(middle-small) {
              max-height: 1000px; // 十分な高さを指定
              transition: max-height 0.5s ease, opacity 0.4s ease;
            }

            a {
              opacity: 1;
            }

          }
        }
      }
    }

    .footer-banner {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 25px;

      @include media(middle-small) {
        display: block;
      }

      li {
        width: 23.5%;

        @include media(middle-small) {
          width: 100%;
          max-width: 247px;
          margin: 0 auto 18px;
        }
      }
    }

    .footer-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;

      @include media(middle-small) {
        display: block;
      }

      .footer-logo {
        width: 203px;

        @include media(middle-small) {
          margin: 0 auto 15px;
        }

        img {
          width: 100%;
        }
      }

      .footer-access {
        p {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.1em;
          line-height: 1.35;
          margin-bottom: 0;

          @include media(middle-small) {
            text-align: center;
            margin-bottom: 15px;
          }
        }
      }

      .footer-info-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;

        @include media(middle-small) {
          justify-content: center;
        }

        ul {
          display: flex;
          justify-content: center;

          @include media(middle-small) {
            flex-wrap: wrap;
          }

          li {
            padding: 0 10px;

            &:last-of-type {
              a {
                &::before {
                  display: none;
                }
              }
            }

            @include media(middle-small) {
              line-height: 1;
            }

            a {
              font-size: 12px;
              font-weight: 500;
              letter-spacing: 0.1em;
              position: relative;

              &::before {
                position: absolute;
                display: block;
                content: '';
                background-color: #3c3636;
                height: 12px;
                width: 1px;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }

  .footer-fixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 5;
    opacity: 0;

    @include media(mobile){
      position: absolute;
      opacity: 1;
      top: -120px;
      left: 50%;
      transform: translate(-50%);
      width: 132px;
    }

    a {
      display: block;
      font-size: 14px;
      color: #fff;
      line-height: 1.4;
      text-align: center;
      width: 132px;
      height: 134px;
      position: relative;

      &:hover {
        .footer-fixed-child-1 {
          img {
            transform: translate(0, -3px) rotate(360deg) scale(1.2);
          }
        }

        .footer-fixed-child-2 {
          img {
            transform: translate(2px, -3px) rotate(360deg) scale(1.2);
          }
        }

        .footer-fixed-child-3 {
          img {
            transform: translate(4px, -3px) rotate(360deg) scale(1.2);
          }
        }

        .footer-fixed-child-4 {
          img {
            transform: translate(6px, -3px) rotate(360deg) scale(1.2);
          }
        }

        .footer-fixed-child-5 {
          img {
            transform: translate(7px, -3px) rotate(360deg) scale(1.2);
          }
        }

        .footer-fixed-child-6 {
          img {
            transform: translate(8px, 0px) rotate(360deg) scale(1.2);
          }
        }

        .footer-fixed-txt {
          img {
            transform: scale(1.1);
          }
        }
      }

      span {
        position: absolute;
        display: block;

        &:first-of-type {
          width: 119.47px;
          height: 119.47px;
          left: 0;
          bottom: 0;
        }

        &:nth-of-type(2) {
          width: 10.39px;
          height: 11.1px;
          top: -13px;
          left: 45px;
        }

        &:nth-of-type(3) {
          width: 9.29px;
          height: 13.47px;
          top: -14px;
          left: 61px;
        }

        &:nth-of-type(4) {
          width: 10.17px;
          height: 13.47px;
          top: -11px;
          left: 78px;
        }

        &:nth-of-type(5) {
          width: 8.79px;
          height: 13.25px;
          top: -2px;
          left: 93px;
        }

        &:nth-of-type(6) {
          width: 7.73px;
          height: 11.44px;
          top: 9px;
          left: 105px;
        }

        &:nth-of-type(7) {
          width: 7.08px;
          height: 10.24px;
          top: 23px;
          left: 112px;
        }

        &:nth-of-type(7) {
          width: 7.08px;
          height: 10.24px;
          top: 23px;
          left: 112px;
        }

        &:last-of-type {
          width: 52px;
          height: 70.46px;
          left: 35px;
          bottom: 25px;
        }

        img {
          width: 100%;
          height: 100%;
          transition: all 0.4s ease;
        }
      }

      .footer-fixed-txt {
        //overflow: hidden;
      }
    }
  }

  .footer-copy {
    width: 90%;
    margin: 0 auto;
  }

  .copy {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
    letter-spacing: 0.1em;
  }
}

.scroll-txt-change {
  position: fixed;
  left: 12px;
  top: 150px;
  margin-bottom: 0;

  @include media(mobile) {
    display: none;
  }

  span {
    display: block;
    width: 37px;
    height: 440px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .sub-title-01,
  .sub-title-02 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .sub-title-02 {
    opacity: 1; // 下層ではこれがデフォルト
  }

  &.show-title-01 .sub-title-01 {
    opacity: 1;
    z-index: 1;
  }

  &.show-title-01 .sub-title-02 {
    opacity: 0;
    z-index: 0;
  }
}

.top-fixed {
  position: fixed;
  right: 0;
  top: 123px;
  z-index: 100;

  @include media(middle) {
    display: none;
  }

  a {
    writing-mode: vertical-rl;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 62px;
    font-size: 18px;
    font-weight: bold;
    padding: 19px 0;
    border-radius: 20px 0 0 20px;
    border: solid 1px #3C3636;

    i {
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      transition: transform 0.4s ease;
      margin-top: 8px;
    }
  }

  .top-fixed-1 {
    background-color: #F4BA1D;
    margin-bottom: 11px;
    color: #3C3636;

    i {
      width: 24.87px;
      height: 24.87px;
      background-image: url(("./assets/img/icon/icon-fixed-1.png"));
    }
  }

  .top-fixed-2 {
    background-color: #E81E23;
    color: #fff;
    margin-bottom: 11px;

    i {
      width: 30px;
      height: 16.61px;
      background-image: url(("./assets/img/icon/icon-fixed-2.png"));
    }
  }

  .top-fixed-3 {
    background-color: #fff;
    color: #3C3636;

    i {
      width: 30px;
      height: 27px;
      background-image: url(("./assets/img/icon/icon-fixed-3.png"));
    }
  }
}