@use 'setting' as *;
.guide {
  .sec01 {
  }
  .sec02 {
    padding-bottom: 0px;
    @include media(middle) {
      padding-bottom: 60px;
    }
    .sec02-container {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0px;
      }
      h3 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 10px;
        padding-left: 45px;
        @include media(middle) {
          padding-left: 0px;
          text-align: center;
          font-size: 20px;
        }
        &.red {
          color: #e81e23;
        }
      }
      p {
        font-size: 14px;
        font-weight: 500;
        margin: 0px;
        line-height: 2;
        @include media(middle) {
          font-size: 11px;
          line-height: 1.5;
        }
      }
      .sec02-table {
        border-radius: 30px;
        overflow: hidden;
        border: 1px solid #707070;
        margin-bottom: 10px;
        &.sec02-table--col-2 {
          table {
            th {
              width: 76%;
              &:nth-child(1) {
                width: 24%;
              }
            }
          }
        }
        &.sec02-table--red {
          table {
            th {
              background-color: #e81e23 !important;
            }
          }
        }
        &.sec02-table--normal {
          table {
            th {
              @include media(mobile) {
                width: 35%;
              }
              &:nth-child(1) {
                width: 24%;
                @include media(mobile) {
                  width: 30%;
                }
              }
            }
            td {
              @include media(mobile) {
                padding: 0px 5px;
              }
            }
          }
        }
        table {
          width: 100%;
          tr {
            &:last-child {
              td {
                border-bottom: none;
              }
            }
          }
          th {
            background-color: var(--color-black);
            color: #fff;
            border-right: 1px solid #fff;
            width: 37%;
            padding: 15px 0px;
            font-size: 20px;
            letter-spacing: 0.1em;
            @include media(middle) {
              font-size: 16px;
            }
            &:nth-child(1) {
              width: 24%;
            }
            &:last-child {
              border-right: none;
            }
          }
          td {
            font-size: 19px;
            text-align: center;
            vertical-align: middle;
            background-color: #fff;
            line-height: 1.2;
            height: 75px;
            border-right: 1px solid #707070;
            border-bottom: 1px solid #707070;
            font-weight: 700;
            @include media(middle) {
              font-size: 13px;
            }
            &:nth-child(1) {
              background-color: #fffdf8;
            }
            &:last-child {
              border-right: none;
            }
            strong {
              font-size: 25px;
              font-weight: 700;
              letter-spacing: 0.1em;
              @include media(middle) {
                font-size: 20px;
              }
            }
            span {
              font-size: 12px;
              font-weight: bold;
              @include media(middle) {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .sec01-center {
      .sec01-center-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
        @include media(middle) {
          gap: 20px;
          justify-content: center;
        }
        .sec01-center-wrap-col {
          width: 48%;
          border: 1px solid #707070;
          overflow: hidden;
          border-radius: 30px;
          @include media(mobile) {
            width: 100%;
            margin-bottom: 20px;
          }
          dl {
            dt {
              background-color: #5cb232;
              height: 82px;
              width: 100%;
              font-size: 19px;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              text-align: center;
              @include media(middle) {
                font-size: 16px;
              }
              @include media(mobile) {
                font-size: 19px;
                height: 53px;
              }
            }
            dd {
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              @include media(middle) {
                height: auto;
                padding: 15px 0px;
              }
              p {
                font-size: 25px;
                font-weight: bold;
                letter-spacing: 0.1em;
                margin: 0px;
                text-align: center;
                line-height: 1;
                span {
                  font-size: 18px;
                  font-weight: bold;
                  letter-spacing: 0.1em;
                }
                small {
                  font-size: 14px;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
    .sec01-bottom {
      padding-top: 60px;
      .sec01-bottom-table {
        border-radius: 30px;
        overflow: hidden;
        border: 1px solid #707070;
        table {
          width: 100%;
          th {
            background-color: var(--color-black);
            color: #fff;
            border-right: 1px solid #fff;
            width: 14.28%;
            padding: 15px 0px;
            font-size: 20px;
            letter-spacing: 0.1em;
            background-color: #214995;
            @include media(middle) {
              font-size: 16px;
            }
            &:last-child {
              border-right: none;
            }
          }
          tr {
            &:last-child {
              td {
                border-bottom: none;
              }
            }
          }
          td {
            position: relative;
            padding: 10px 0px;
            text-align: center;
            font-size: 17px;
            letter-spacing: 0.1em;
            height: 78px;
            border-bottom: 1px solid #707070;
            background-color: #fff;
            border-right: 1px solid #707070;
            vertical-align: middle;
            font-weight: bold;
            &:last-child {
              border-right: none;
            }
            .none {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-27deg);
                width: 120%;
                height: 1px;
                background-color: #222222;
              }
            }
            .border {
              border-bottom: 1px solid #222;
              font-size: 14px;
              display: block;
              width: 90%;
              margin: 0 auto 10px;
              padding-bottom: 10px;
              letter-spacing: 0em;
              strong {
                letter-spacing: 0em;
                font-size: 24px;
                font-weight: normal;
              }
            }

            .small {
              font-size: 12px;
              display: block;
              letter-spacing: 0em;
              strong {
                font-size: 18px;
                font-weight: 500;
              }
            }
            .strong {
              font-weight: 500;
              font-size: 22px;
            }
            small {
              font-size: 14px;
              font-weight: bold;
            }
            &:nth-child(2n-1) {
              background-color: #eef3f7;
            }
          }
        }
      }
      .sec01-bottom-table-mobile {
        .sec01-bottom-table-sp {
          dl {
            overflow: hidden;
            border-radius: 20px;
            border: 1px solid #707070;
            margin-bottom: 13px;
            &:last-child {
              margin-bottom: 0px;
            }
            dt {
              background-color: #214995;
              padding: 10px 30px;
              color: #fff;
              font-size: 18px;
              position: relative;
              text-align: center;
              font-weight: bold;
              &:hover {
                //cursor: pointer;
                //opacity: 0.5;
              }
              &.active {
                &:after {
                  opacity: 0 !important;
                }
              }
            }
            dd {
              background-color: #eef3f7;
              font-size: 17px;
              padding: 20px 0px;
              font-weight: bold;
              text-align: center;
            }
          }
        }
        .sec01-bottom-table-sp_v2 {
          dl {
            overflow: hidden;
            border-radius: 20px;
            border: 1px solid #707070;
            margin-bottom: 13px;
            &:last-child {
              margin-bottom: 0px;
            }
            dt {
              background-color: #214995;
              padding: 20px 30px;
              color: #fff;
              font-size: 18px;
              position: relative;
              font-weight: bold;
              &:hover {
                cursor: pointer;
                opacity: 0.5;
              }
              &.active {
                &:after {
                  opacity: 0 !important;
                }
              }

              &::before {
                position: absolute;
                display: block;
                content: '';
                width: 15px;
                height: 2.5px;
                background-color: #fff;
                border-radius: 5px;
                right: 15px;
                bottom: 50%;
                transform: translateY(50%);
              }

              &::after {
                position: absolute;
                transition: all 0.3s;
                display: block;
                content: '';
                width: 15px;
                height: 2.5px;
                background-color: #fff;
                border-radius: 5px;
                right: 15px;
                bottom: 50%;
                transform: translateY(50%) rotate(90deg);
              }
            }
            dd {
              display: none;
              table {
                width: 100%;
                th {
                  background-color: var(--color-black);
                  color: #3c3636;
                  border-right: 1px solid #707070;
                  width: 50%;
                  padding: 15px 0px;
                  font-size: 16px;
                  letter-spacing: 0.1em;
                  background-color: #eef3f7;
                  border-bottom: 1px solid #707070;
                  vertical-align: middle;
                  &:last-child {
                    border-right: 1px solid #707070;
                  }
                  small {
                    font-size: 13px;
                    font-weight: bold;
                  }
                }
                tr {
                  &:last-child {
                    td,
                    th {
                      border-bottom: none;
                    }
                  }
                }
                td {
                  position: relative;
                  padding: 10px 0px;
                  text-align: center;
                  font-size: 16px;
                  letter-spacing: 0.1em;
                  width: 50%;
                  height: 78px;
                  border-bottom: 1px solid #707070;
                  border-right: 1px solid #707070;
                  vertical-align: middle;
                  font-weight: bold;
                  &:last-child {
                    border-right: none;
                  }
                  .none {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    &::after {
                      content: '';
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%) rotate(-27deg);
                      width: 120%;
                      height: 1px;
                      background-color: #222222;
                    }
                  }
                  small {
                    font-size: 14px;
                    font-weight: bold;
                  }
                  &:nth-child(2n-1) {
                    background-color: #eef3f7;
                  }
                }
              }
            }
          }
        }
      }
      .sec01-bottom-attention {
        font-size: 14px;
        font-weight: 500;
        margin-top: 20px;
        line-height: 2;
        margin-bottom: 50px;
        @include media(middle) {
          font-size: 11px;
          line-height: 1.5;
          margin-top: 10px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .sec03 {
    padding-bottom: 120px;
    position: relative;
    @include media(middle) {
      padding-bottom: 60px;
    }
    .sec03-container {
      margin-bottom: 50px;
      &:nth-of-type(1) {
        margin-bottom: 80px;
      }
    }
    .sec03-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0px 10px;
      margin-bottom: 30px;
      @include media(middle) {
        margin-bottom: 30px;
      }
      @include media(mobile) {
        margin-bottom: 0px;
        padding: 0px;
      }
      .sec03-wrap-col {
        width: 47%;
        @include media(mobile) {
          width: 100%;
          margin-bottom: 30px;
        }
        .sec03-wrap-col-img {
          border-radius: 30px;
          overflow: hidden;
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          letter-spacing: 0.1em;
          line-height: 2.3;
          margin: 0px;
          @include media(mobile) {
            font-size: 14px;
            line-height: 1.8;
          }
          span {
            font-size: 16px;
            color: #e81e23;
            font-weight: bold;
            letter-spacing: 0.1em;
            @include media(mobile) {
              font-size: 14px;
              line-height: 1.8;
            }
          }
        }
      }
    }
    .sec03-container {
      .page-title--has-icon {
        margin-bottom: 22px;
      }
      .sec03-col {
        display: flex;
        flex-wrap: wrap;
        .sec03-col-img {
          width: 255px;
          @include media(mobile) {
            width: 100%;
          }
          img {
            border-radius: 30px;
          }
        }
        .sec03-col-txt {
          width: calc(100% - 255px);
          padding-left: 40px;
          @include media(middle) {
            padding-left: 20px;
          }
          @include media(mobile) {
            width: 100%;
            padding-left: 0px;
            margin-top: 15px;
          }
          ul {
            li {
              position: relative;
              padding-left: 35px;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
              line-height: 2.3;
              letter-spacing: 0.1em;
              @include media(middle) {
                font-size: 14px;
                line-height: 2;
              }
              &:last-child {
                margin-bottom: 0px;
              }
              &:before {
                content: '';
                position: absolute;
                top: 9px;
                left: 0px;
                background-image: url('./assets/img/icon/icon-li-circle.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 23.57px;
                height: 24px;
                @include media(middle) {
                  top: 6px;
                }
              }
              span {
                font-size: 16px;
                color: #e81e23;
                font-weight: bold;
                letter-spacing: 0.1em;
                @include media(middle) {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  .sec04 {
    padding-bottom: 40px;
    .sec04-desc {
      h3 {
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        letter-spacing: 0.1em;
        position: relative;
        @include media(middle) {
          font-size: 17px;
          //折り返し禁止
          white-space: nowrap;
        }
        @include media(mobile) {
          font-size: 16px;
        }

        &:before {
          width: 20px;
          height: 19px;
          background-image: url(("./assets/img/icon/sec04-itlte-before.svg"));
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          content: '';
          margin-right: 10px;
          @include media(mobile) {
            position: absolute;
            left: -10px;
            bottom: 50%;
            transform: translateY(50%);
          }
        }
        &:after {
          width: 20px;
          height: 19px;
          background-image: url(("./assets/img/icon/sec04-itlte-after.svg"));
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          content: '';
          margin-left: 10px;
          @include media(mobile) {
            position: absolute;
            right: -10px;
            bottom: 50%;
            transform: translateY(50%);
          }
        }
      }
      p {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 2.3;
        margin: 0px 0px;
        @include media(middle) {
          font-size: 14px;
          line-height: 2;
        }
      }
    }
  }
  .spotMapInner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 50px;
    background-color: #fff;
    @include media(mobile) {
      padding-bottom: 30px;
    }

    .infoWindowBox.s_current {
      display: none;
      border-color: #980820;
      color: #fff;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
    .spotMapBoxCanvas_pin_num {
      width: 2.3rem;
      height: 3.1rem;
      font-size: 1.6rem;
      line-height: 1;
      display: flex;
      justify-content: center;
      color: #fff;
      letter-spacing: 0.03em;
      padding-top: 0.6rem;
      display: none;
    }
    .spotMapList_itemInner_img {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      .spotMapList_itemInner_imgWrap {
        width: 100%;
        height: 278px;
        border-radius: 30px;
        overflow: hidden;
        display: block;
        position: relative;
        @include media(mobile) {
          height: 192px;
        }
        img {
          position: absolute;
          object-fit: cover;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          margin: auto;
          transition: 0.5s ease;
        }
      }
    }
    .spotMapList_item.clicked .spotMapList_itemInner_imgWrap img {
      animation-name: mapClickAnim02;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 0s;
    }
    @keyframes mapClickAnim02 {
      0% {
        height: 100%;
        width: 100%;
      }
      50% {
        height: 120%;
        width: 120%;
      }
      100% {
        height: 100%;
        width: 100%;
      }
    }
    .spotMapList_itemInner_infoTtl_num {
      width: 23px;
      height: 37px;
      background-image: url(../../src/img/spot_ico02_orange.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-size: 1.4rem;
      line-height: 1;
      display: flex;
      justify-content: center;
      color: #fff;
      letter-spacing: 0.03em;
      padding-top: 0.5rem;
    }
    .spotMapList_itemInner_infoTtl_txt {
      width: calc(100% - 33px);
      font-size: 20px;
      @include media(middle) {
        font-size: 18px;
      }
    }
  }
  .spotMapBox {
    width: 55%;
    height: 736px;
    position: relative;
    @include media(mobile) {
      width: 100%;
      height: auto;
    }
    .spotMapBox-bg {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right;
      }
    }
    .spotMapBox-icon {
      position: absolute;
      z-index: 10;
      a {
        &:hover {
          img {
            @include media(md) {
              transform: scale(1.1);
            }
          }
        }
      }
      img {
        width: 45px;
        transition: 0.3s ease;
        @include media(middle) {
          //width: calc(30 * (100vw / 600));
          width: 30px;
        }
        @include media(mobile) {
          width: calc(30 * (100vw / 375));
        }
      }
    }
    .spotMapBox-01 {
      transform: rotate(-180deg);
      right: 200px;
      bottom: 128px;
      @include media(lg2) {
        right: clamp(120px, calc(245 * (100vw / 1600)), 200px);
        bottom: clamp(160px, calc(100 * (100vw / 1025)), 180px);
      }
      @include media(middle) {
        right: calc(87 * (100vw / 600));
        //bottom: calc(243 * (100vw / 600));
        //bottom: calc(50vw - 100 * (100vw / 600));
        //bottom: calc(50vw - 100px);
        bottom: clamp(215px, calc(-50vw + 625px), 245px);
      }
      @include media(mobile) {
        right: calc(100 * (100vw / 375));
        bottom: calc(58 * (100vw / 375));
      }
    }
    .spotMapBox-02 {
      right: 48px;
      bottom: 225px;
      @include media(lg2) {
        right: clamp(5px, calc(34 * (100vw / 1025)), 60px);
        bottom: clamp(120px, calc(190 * (100vw / 1025)), 260px);
      }
      @include media(middle) {
        right: calc(16 * (100vw / 600));
        //bottom: calc(310 * (100vw / 600));
        bottom: clamp(230px, calc(-50vw + 605px), 405px);
      }
      @include media(mobile) {
        right: calc(22 * (100vw / 375));
        bottom: calc(114 * (100vw / 375));
      }
    }
    .spotMapBox-03 {
      right: 57px;
      bottom: 58px;
      @include media(lg2) {
        right: clamp(5px, calc(44 * (100vw / 1025)), 60px);
        bottom: clamp(80px, calc(60 * (100vw / 1025)), 102px);
      }
      @include media(middle) {
        right: calc(21 * (100vw / 600));
        bottom: clamp(130px, calc(-50vw + 525px), 405px);
      }
      @include media(mobile) {
        right: calc(26 * (100vw / 375));
        bottom: calc(26 * (100vw / 375));
      }
    }
    .spotMapBox-04 {
      right: 617px;
      top: 96px;
      @include media(lg2) {
        right: clamp(500px, calc(478 * (100vw / 1025)), 650px);
        top: clamp(80px, calc(80 * (100vw / 1025)), 90px);
      }
      @include media(middle) {
        right: calc(275 * (100vw / 600));
        top: clamp(205px, calc(-50vw + 525px), 405px);
      }
      @include media(mobile) {
        right: calc(316 * (100vw / 375));
        top: calc(35 * (100vw / 375));
      }
    }
    .spotMapBox-05 {
      right: 475px;
      top: 36px;
      @include media(lg2) {
        right: clamp(350px, calc(366 * (100vw / 1025)), 650px);
        top: clamp(30px, calc(60 * (100vw / 1025)), 60px);
      }
      @include media(middle) {
        right: calc(210 * (100vw / 600));
        top: clamp(165px, calc(-50vw + 525px), 405px);
      }
      @include media(mobile) {
        right: calc(241 * (100vw / 375));
        top: calc(14 * (100vw / 375));
      }
    }
  }
  .spotMapBoxCanvas {
    width: 100%;
    padding-top: 736px;
    display: none;
    @include media(mobile) {
      padding-top: 269px;
    }
  }
  .spotMapBox iframe {
    width: 100%;
    height: 736px;
    @include media(mobile) {
      height: 269px;
    }
  }

  .gm-style .gm-style-iw-c {
    padding: 0 !important;
    top: 1.8rem !important;
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    overflow: unset !important;
  }
  .gm-style .gm-style-iw-d {
    padding: 0 !important;
    overflow: unset !important;
  }
  .gm-style .gm-style-iw-tc {
    display: none !important;
  }
  .gm-ui-hover-effect {
    opacity: 1 !important;
    border-radius: 50%;
    background: #fff !important;
    top: -2rem !important;
    right: -2rem !important;
    display: none !important;
  }
  .infoWindowBox {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    padding: 0.6rem 2rem;
    border: 2px solid #aaa;
    background: #fff;
    border-radius: 100px;
  }
  .spotMapListWrap {
    width: 45%;
    height: 736px;
    //overflow-y: scroll;
    overflow: hidden;
    //スクロールバー非表示
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    //safari
    -webkit-overflow-scrolling: touch;
    @include media(mobile) {
      width: 100%;
      height: 570px;
      margin-top: 30px;
    }
  }
  .spotMapListWrap::-webkit-scrollbar {
    display: none;
  }
  .simplebar-track {
    right: 0.5rem !important;
    top: 1rem !important;
    bottom: 1rem !important;
  }
  .spotMapList {
    //padding: 35px 0;
    background: #fff;
  }
  .spotMapList_item {
    width: 100%;
    height: 736px;
    display: flex;
    justify-content: center;
    align-items: center;
    //cursor: pointer;
    @include media(mobile) {
      height: 540px;
    }
  }
  .spotMapList_item:hover {
    //opacity: 0.7;
    transition: 0.5s ease;
  }

  .spotMapList_itemInner {
    width: 70%;
    margin: 0 auto;
    @include media(middle) {
      width: 90%;
    }
  }

  .spotMapList_itemInner_imgNavi {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 1px solid #aaa;
    background: #fff;
    position: absolute;
    right: 6rem;
    top: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
  }
  .spotMapList_itemInner_imgNavi p {
    text-align: center;
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 0.3rem;
  }
  .spotMapList_itemInner_imgNavi p span {
    font-size: 1.7rem;
  }
  .spotMapList_itemInner_info {
  }
  .spotMapList_itemInner_infoTtl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .spotMapList_itemInner_infoList {
    margin-bottom: 15px;
    @include media(middle) {
      margin-bottom: 10px;
    }
    .spotMapList_itemInner_infoListLi {
      padding: 25px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid #e5e5e5;
      @include media(middle) {
        padding: 15px 0;
      }
      &:nth-child(2) {
        border-top: none !important;
        padding-top: 0px !important;
      }
    }
    .spotMapList_itemInner_infoListLi_ttl {
      width: 100px;
      font-weight: bold;
      margin: 0px;
      font-size: 16px;
      color: #868686;
      @include media(middle) {
        font-size: 14px;
        width: 80px;
      }
    }
    .spotMapList_itemInner_infoListLi_txt {
      width: calc(100% - 100px);
      font-size: 16px;
      margin: 0px;
      @include media(middle) {
        font-size: 14px;
        width: calc(100% - 80px);
      }
    }
  }

  /* Leisure Spot */
  .spotMapList_item.leisure {
    background: #fff4e9;
  }
  .spotMapList_item.leisure .spotMapList_itemInner_cat {
    background-image: url(../../src/img/spot_ico01_orange.png);
    color: #f27800;
  }
  .spotMapList_item.leisure .spotMapList_itemInner_cat:before {
    content: 'Leisure Spot';
  }
  .spotMapList_item.leisure .spotMapList_itemInner_cat:after {
    content: '遊べる施設';
  }
  .spotMapList_item.leisure .spotMapList_itemInner_imgNavi {
    border-color: #f27800;
    color: #f27800;
  }
  .spotMapList_item.leisure .spotMapList_itemInner_infoTtl_num {
    background-image: url(../../src/img/spot_ico02_orange.png);
  }
  .spotMapList_item.leisure .spotMapList_itemInner_infoTtl_txt {
    color: #f27800;
  }
  .infoWindowBox.leisure {
    border-color: #f27800;
    color: #f27800;
  }

  /* Shopping Spot */
  .spotMapList_item.shopping {
    background: #f0f7ff;
  }
  .spotMapList_item.shopping .spotMapList_itemInner_cat {
    background-image: url(../../src/img/spot_ico01_blue.png);
    color: #1a62c3;
  }
  .spotMapList_item.shopping .spotMapList_itemInner_cat:before {
    content: 'Shopping Spot';
  }
  .spotMapList_item.shopping .spotMapList_itemInner_cat:after {
    content: '買い物ができる施設';
  }
  .spotMapList_item.shopping .spotMapList_itemInner_imgNavi {
    border-color: #1a62c3;
    color: #1a62c3;
  }
  .spotMapList_item.shopping .spotMapList_itemInner_infoTtl_num {
    background-image: url(../../src/img/spot_ico02_blue.png);
  }
  .spotMapList_item.shopping .spotMapList_itemInner_infoTtl_txt {
    color: #1a62c3;
  }
  .infoWindowBox.shopping {
    border-color: #1a62c3;
    color: #1a62c3;
  }

  /* Food Spot */
  .spotMapList_item.food {
    background: #fff5fc;
  }
  .spotMapList_item.food .spotMapList_itemInner_cat {
    background-image: url(../../src/img/spot_ico01_ppl.png);
    color: #dd37a3;
  }
  .spotMapList_item.food .spotMapList_itemInner_cat:before {
    content: 'Food Spot';
  }
  .spotMapList_item.food .spotMapList_itemInner_cat:after {
    content: '飲食ができる施設';
  }
  .spotMapList_item.food .spotMapList_itemInner_imgNavi {
    border-color: #dd37a3;
    color: #dd37a3;
  }
  .spotMapList_item.food .spotMapList_itemInner_infoTtl_num {
    background-image: url(../../src/img/spot_ico02_ppl.png);
  }
  .spotMapList_item.food .spotMapList_itemInner_infoTtl_txt {
    color: #dd37a3;
  }
  .infoWindowBox.food {
    border-color: #dd37a3;
    color: #dd37a3;
  }

  /* Event Spot */
  .spotMapList_item.event {
    background: #f5fff5;
  }
  .spotMapList_item.event .spotMapList_itemInner_cat {
    background-image: url(../../src/img/spot_ico01_green.png);
    color: #1aa815;
  }
  .spotMapList_item.event .spotMapList_itemInner_cat:before {
    content: 'Event Spot';
  }
  .spotMapList_item.event .spotMapList_itemInner_cat:after {
    content: 'おでかけにオススメな施設';
  }
  .spotMapList_item.event .spotMapList_itemInner_imgNavi {
    border-color: #1aa815;
    color: #1aa815;
  }
  .spotMapList_item.event .spotMapList_itemInner_infoTtl_num {
    background-image: url(../../src/img/spot_ico02_green.png);
  }
  .spotMapList_item.event .spotMapList_itemInner_infoTtl_txt {
    color: #1aa815;
  }
  .infoWindowBox.event {
    border-color: #1aa815;
    color: #1aa815;
  }

  .sec04-bottom {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    @include media(middle) {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}
