@use 'setting' as *;
.page-main {
  padding-top: 110px;
  position: relative;
  background-color: #fefbf5;
  z-index: 3;
  overflow: hidden;
  .relative {
    position: relative;
    z-index: 3;
  }
  .page-main-left-img {
    width: calc(253 * (100vw / 1240));
    min-width: 253px;
    max-width: 350px;
    position: absolute;
    left: -75px;
    top: 100px;
    @include media(middle) {
      min-width: auto;
      width: 113px;
      left: -40px;
    }
  }
  .page-main-right-img {
    width: calc(253 * (100vw / 1240));
    position: absolute;
    right: 30px;
    top: -30px;
    min-width: 253px;
    @include media(middle) {
      min-width: auto;
      width: 116px;
      top: 70px;
      right: -40px;
    }
  }
  .page-deco-bg {
    width: 100%;
    position: relative;
    z-index: 1;
    @include media(middle) {
      top: 1px;
    }
    img {
      width: 100%;
    }
  }

  .sec02-icon-01 {
    z-index: 3;
  }
  .page-deco-container {
    padding-top: 20px;
    &.page-deco-container--red {
      //background-color: #dce7fb !important;
      background-image: url(("./assets/img/aside/aside-bg-red-content_v2.png"));
      background-repeat: repeat;
      background-size: contain;
    }
    &.page-deco-container--yellow {
      //background-color: #dce7fb !important;
      background-image: url(("./assets/img/aside/aside-bg-yellow-content_v3.jpg"));
      background-repeat: repeat;
      background-size: contain;
    }

    &.page-deco-container--blue {
      //background-color: #dce7fb !important;
      background-image: url(("./assets/img/aside/aside-bg-blue-content_v4.jpg"));
      background-repeat: repeat;
      background-size: contain;
    }
    &.page-deco-container--green {
      background-color: #e8f2dd !important;
    }

    background-size: contain;
    background-repeat: repeat;
    @include media(middle) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
    .content-width-sm {
      position: relative;
      z-index: 10;
    }
  }
  .page-bg-deco-bg-bottom-yellow {
    background-image: url(("./assets/img/aside/aside-bg-yellow-content.jpg"));
    background-repeat: repeat;
    background-size: 200px;
    position: absolute;
    width: 100%;
    height: calc(200 * (100vw / 1240));
    bottom: calc(-200 * (100vw / 1240));
    left: 0;
  }
  .page-bg-deco-bg-bottom-red {
    background-image: url(("./assets/img/aside/aside-bg-red-content_v3.png"));
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: calc(240 * (100vw / 1240));
    bottom: calc(-240 * (100vw / 1240));
    left: 0;
  }
  .page-deco-bg-bottom {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .page-bnr {
    @include media(middle) {
      padding-bottom: 30px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 47%;
        @include media(mobile) {
          width: 100%;
          margin-bottom: 20px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
        a {
          display: block;
          &:hover {
            opacity: 0.5;
          }
          img {
            border-radius: 30px;
            width: 100%;
            border: 1px solid #222222;
          }
        }
      }
    }
    .sec06-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .sec06-bottom-col {
        width: 48%;
        @include media(mobile) {
          width: 100%;
          margin-bottom: 30px;
        }
        &:first-child {
          a {
            &:before {
              display: none !important;
            }
            .sec-01-col-under-title {
              img {
                width: 100%;
                max-width: 221px;
                &.text-event {
                  max-width: 172px;
                }
              }
              .icon-btn {
                bottom: 15px;
                right: 130px;
                @include media(mobile) {
                  right: clamp(20px, calc(15 * (100vw / 375)), 50px);
                  bottom: clamp(2px, calc(13 * (100vw / 375)), 30px);
                  width: calc(25 * (100vw / 375));
                  height: calc(25 * (100vw / 375));
                  max-width: 25px;
                }
              }
            }
          }
        }
      }
      .sec-01-col-under {
        width: 100%;
        position: relative;
        z-index: 4;
        &.sec-01-col-under--news {
          a {
            background-image: url(("./assets/img/bnr/page-bnr-news-bg.jpg"));
            padding: 15px 30px;
            &:before {
              display: none;
            }
            &:hover {
              @include media(md) {
                .sec-01-col-under-img {
                  img {
                    transform: scale(1) rotate(5deg);
                  }
                }
              }
            }
          }
        }
        a {
          display: flex;
          flex-direction: row-reverse;
          padding: 15px;
          border: solid 1px #222222;
          border-radius: 30px;
          background-color: #fff;
          position: relative;
          align-items: center;
          height: 172px;
          align-items: center;

          &::before {
            position: absolute;
            display: block;
            content: '';
            width: 77px;
            height: 85px;
            background-image: url(("./assets/img/icon/icon-suzu.png"));
            background-size: contain;
            background-repeat: no-repeat;
            right: -30px;
            top: -50px;
            transition: transform 0.4s ease;
          }

          &:hover {
            @include media(md) {
              &::before {
                transform: translate(10px, -10px) rotate(10deg);
              }

              .sec-01-col-under-img {
                img {
                  transform: scale(1.1);
                }
              }

              .sec-01-col-under-move-item {
                span {
                  &:first-of-type {
                    transform: rotate(-10deg);
                  }

                  &:nth-of-type(2) {
                    transform: translateY(-10px);
                  }
                }
              }

              .sec-01-col-under-title {
                h3 {
                  i {
                    transform: translate(15px, 5px);
                  }
                }
              }
            }
          }

          .sec-01-col-under-img {
            //width: 34%;
            width: 192px;
            height: 100%;
            border-radius: 22px;
            overflow: hidden;
            @include media(middle) {
              width: 125px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.4s ease;
            }
          }

          .sec-01-col-under-title {
            width: calc(100% - 192px);
            padding: 0 10px;
            @include media(middle) {
              width: calc(100% - 125px);
              padding: 0 5px;
            }

            h3 {
              font-size: 57px;
              position: relative;
              color: #000;
              font-family: $font-en;
              display: flex;
              width: 100%;
              max-width: 218px;
              img {
                width: 100%;
                max-width: 218px;
              }

              span {
                font-size: 57px;
                font-family: $font-en;
                color: transparent;
                -webkit-text-stroke: 2px black;
              }

              .icon-fire {
                width: 37px;
                height: 53px;
                background-image: url(("./assets/img/icon/icon-01-small.png"));
                background-size: contain;
                background-repeat: no-repeat;
                //display: block;
                display: inline-block;
                transform: translateX(10px);
              }

              .icon-btn {
                width: 30px;
                height: 30px;
                background-image: url(("./assets/img/icon/icon-btn-big.png"));
                background-size: contain;
                background-repeat: no-repeat;
                //display: block;
                position: absolute;
                display: inline-block;
                transform: translate(10px, 5px);
                right: 30px;
                bottom: 10px;
                transition: transform 0.4s ease;
              }
            }

            p {
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 0.07em;
              margin-bottom: 0;
            }
          }

          .sec-01-col-under-move-item {
            width: 139px;
            position: relative;

            span {
              position: absolute;
              transition: transform 0.4s ease;

              &:nth-of-type(3) {
                width: 35px;
                right: 0;
                top: 29px;
              }

              &:last-of-type {
                width: 50px;
                left: 0;
                bottom: 0;
              }

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.page-desc {
  p {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    line-height: 2.3;
    margin: 40px 0px;
    @include media(middle) {
      font-size: 14px;
      margin: 20px 0px;
    }
  }
}

.page-btn {
  width: 100%;
  max-width: 760px;
  margin: 40px auto 40px;
  position: relative;
  z-index: 3;
  &.page-btn--spa {
    ul {
      @include media(mobile) {
        max-width: 240px;
      }
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include media(mobile) {
      width: 100%;
      max-width: 226px;
      margin: 0 auto;
    }
    li {
      width: 31%;
      margin-bottom: 22px;
      margin-right: 3.5%;
      &:nth-child(3n) {
        margin-right: 0;
      }
      @include media(mobile) {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 18px;
      }
      a {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-black);
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0em;
        i {
          width: 26px;
          height: 26px;
          background-image: url('./assets/img/icon/icon-arrow-bottom.svg');
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          @include media(mobile) {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

.page-title-center--has-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  @include media(middle) {
    margin-bottom: 20px;
    padding-right: 30px;
  }
  .letter-spacing-0-mobile {
    @include media(mobile) {
      letter-spacing: 0em !important;
    }
  }
  &.page-title-center--has-icon--nowrap {
    h2 {
      @include media(mobile) {
        white-space: nowrap;
      }
    }
  }
  &.page-title-center--has-icon--font-30 {
    h2,
    h3 {
      font-size: 30px !important;
      @include media(middle) {
        font-size: 25px !important;
      }
    }
  }
  &.page-title-center--has-icon--font-mobile-20 {
    h2 {
      @include media(mobile) {
        font-size: 22px !important;
      }
    }
  }
  &.page-title-center--has-icon--mobile-inline {
    @include media(mobile) {
      padding-right: 0px !important;
    }
    h2 {
      @include media(mobile) {
        display: inline-block;
        font-size: 24px !important;
      }
      i {
        @include media(mobile) {
          display: inline-block !important;
          margin-right: 5px !important;
          transform: translateY(8px) !important;
        }
      }
    }
  }
  h2,
  h3 {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;

    i {
      width: 30px;
      height: 43px;
      background-image: url(("./assets/img/icon/icon-01-small.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      margin-right: 15px;
    }
  }
  span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
  }
}

.page-title--has-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  @include media(middle) {
    margin-bottom: 20px;
  }
  &.page-title--has-icon--font-23 {
    h2,
    h3 {
      font-size: 23px !important;
      @include media(middle) {
        font-size: 20px !important;
      }
    }
  }
  &.page-title--has-icon--mobile-20 {
    h2,
    h3 {
      @include media(middle) {
        font-size: 20px !important;
        padding-right: 10px !important;
      }
    }
  }
  &.page-title--has-icon--mobile-left {
    h2 {
      @include media(mobile) {
        justify-content: left !important;
        margin: 0px !important;
        padding: 0px !important;
      }
    }
  }
  h2,
  h3 {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    @include media(middle) {
      font-size: 25px;
    }
    @include media(mobile) {
      justify-content: center;
      margin: 0 auto;
      padding-right: 30px;
    }
    i {
      width: 30px;
      height: 43px;
      background-image: url(("./assets/img/icon/icon-01-small.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      margin-right: 15px;
    }
  }
  span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
    @include media(mobile) {
      margin: 10px 0 0 0;
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}

.page-breadcrumbs {
  //padding: 0px 5% 0px 5%;
  margin-bottom: 40px;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  max-width: 1240px;
  margin: 0 auto;
  /* Firefox */
  -ms-overflow-style: none;

  /* Internet Explorer 10+ */
  @include media(middle) {
    position: relative;
    padding: 0px 5% 20px 5%;
    margin-bottom: 0px;
  }

  ul,
  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    li {
      a {
        display: flex;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0em;
        //折り返しをなし
        white-space: nowrap;
        align-items: center;
        color: var(--color-black);
        @include media(middle) {
          font-size: 10px;
        }
        span {
          color: var(--color-black);
        }

        &:after {
          content: '＞';
          margin: 0 10px 0 10px;
          display: block;
          font-size: 12px;
          @include media(middle) {
            font-size: 10px;
            margin: 0 3px;
          }
        }
      }

      span {
        display: flex;
        font-size: 12px;
        letter-spacing: 0em;
        //white-space: nowrap;
        color: var(--color-black);
        font-weight: 400;
        //color: #959595;
        @include media(middle) {
          font-size: 10px;
        }
      }
    }
  }
}

.page-breadcrumbs-cross {
  //padding: 0px 5% 0px 5%;
  padding: 0px 0% 20px 0%;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* Internet Explorer 10+ */
  @include media(middle) {
    position: relative;

    margin-bottom: 0px;
  }

  ul,
  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    li {
      a {
        display: flex;
        font-size: 0.8rem;
        letter-spacing: 0em;
        color: var(--color-black);
        //color: #959595;
        //折り返しをなし
        white-space: nowrap;
        align-items: center;
        font-weight: 500;
        span {
          color: var(--color-black);
          font-weight: 500;
        }

        &:after {
          content: '';
          margin: 0 5px 0 5px;
          width: 5px;
          display: block;
          height: 1px;
          background-color: var(--color-black);
        }
      }

      span {
        display: flex;
        font-size: 0.75rem;
        letter-spacing: 0em;
        //white-space: nowrap;
        font-weight: 500;
        color: var(--color-black);
        //font-family: var(--font-en);
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 0px;
  @include media(mobile) {
    margin-bottom: 0px;
  }
  span,
  a {
    color: #fff;
    font-weight: 500;
    font-family: var(--font-en);
    font-size: 16px;
    width: 38px;
    height: 38px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    background-color: #fff;
    border: 1px solid #3c3636;
    color: #3c3636;
    border-radius: 50%;
    letter-spacing: 0em;
    line-height: 0;
    @include media(middle) {
      font-size: 14px;
      margin: 0px 3px;
      width: 32px;
      height: 32px;
    }
  }
  span {
    background-color: #3c3636;
    color: #fff;
  }
  .next {
    position: relative;
    margin-left: 20px;
    border: none !important;
    background-color: inherit;
    @include media(middle) {
      margin-left: 10px;
    }
    &:after {
      content: '';
      background-image: url('./assets/img/icon/icon-pagination-next.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      @include media(middle) {
        font-size: 14px;
        width: 32px;
        height: 32px;
      }
    }
    &.no-link {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .last {
    position: relative;
    border: none;
    background-color: inherit;
    &:after {
      content: '';
      background-image: url('./assets/img/icon/icon-pagination-last.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      @include media(middle) {
        font-size: 14px;
        width: 32px;
        height: 32px;
      }
    }
  }
  .previous {
    position: relative;
    margin-right: 20px;
    border: none;
    background-color: inherit;
    @include media(middle) {
      margin-right: 10px;
    }
    &:after {
      content: '';
      background-image: url('./assets/img/icon/icon-pagination-prev.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      @include media(middle) {
        font-size: 14px;
        width: 32px;
        height: 32px;
      }
    }
    &.no-link {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .first {
    position: relative;
    border: none;
    background-color: inherit;
    &:after {
      content: '';
      background-image: url('./assets/img/icon/icon-pagination-first.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      @include media(middle) {
        font-size: 14px;
        width: 32px;
        height: 32px;
      }
    }
  }
}
