@use 'setting' as *;
.relax {
  .sec07-com {
    padding-top: 100px;
    padding-bottom: 0px;
    @include media(middle) {
      padding-top: 60px;
    }
  }
  .area {
    position: relative;
    .sec02-icon-01 {
      width: calc(390 * (100vw / 1360));
      position: absolute;
      left: -100px;
      top: 80px;
      @include media(middle) {
        width: 150px;
        top: 15px;
        left: -40px;
      }
    }
  }
  .relative {
    position: relative;
    overflow: hidden;
    .sec02-icon-02 {
      width: calc(300 * (100vw / 1360));
      position: absolute;
      right: -50px;
      bottom: 60px;
      @include media(middle) {
        width: 150px;
        bottom: inherit;
        top: 160px;
      }
    }
    .sec02-icon-03 {
      width: 102px;
      position: absolute;
      left: 90px;
      bottom: 250px;
      z-index: 2;
      @include media(middle) {
        width: 30px;
        bottom: inherit;
        top: -50px;
        left: 10px;
      }
      img {
        width: 100%;
      }
    }
    .sec02-icon-04 {
      width: 102px;
      position: absolute;
      right: 90px;
      bottom: 30%;
      z-index: 2;
      @include media(middle) {
        width: 30px;
        bottom: inherit;
        top: -80px;
        right: 10px;
      }
      img {
        width: 100%;
      }
    }
  }
  .sec02 {
    padding-bottom: 40px;
    padding-top: 0px;
    @include media(middle) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    h2 {
      text-align: center;
      img {
        width: 80%;
        max-width: 611px;
      }
    }
    p {
      font-size: 18px;
      text-align: center;
      line-height: 2.3;
      font-weight: 500;
      margin: 20px 0px 0px;
      position: relative;
      z-index: 4;
      @include media(middle) {
        font-size: 14px;
        line-height: 1.8;
        margin: 10px 0px 0px;
      }
    }
  }
  .sec03 {
    padding-bottom: 80px;
    .sec03-event {
      .sec01-col-main {
        ul {
          padding-top: 88px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          li {
            width: 32.5%;

            a {
              display: block;
              width: 100%;
              position: relative;

              &:hover {
                .fire {
                  animation: fire-reenter 0.8s ease-out forwards;
                }
              }

              /*HOT*/
              .hot {
                //display: block;
                font-family: $font-en;
                position: absolute;
                color: #e81e23;
                font-size: 25px;
                font-weight: 900;
                left: 10px;
                top: -45px;
              }

              .fire {
                width: 42px;
                display: block;
                position: absolute;
                top: -70px;
                left: 50%;
                transform: translateX(-50%);
                transition: opacity 0.3s, transform 0.3s;
                opacity: 1;

                img {
                  width: 100%;
                }
              }

              .img {
                text-align: center;
                border-radius: 30px 30px 0 0;
                border: solid 1px #3c3636;
                width: 100%;
                overflow: hidden;

                img {
                  width: 100%;
                }
              }

              .img-info {
                background-color: #f4ba1d;
              }

              .img-event {
                background-color: #5cb232;
              }

              .img-food {
                background-color: #e81e23;
              }

              .text {
                width: 100%;
                background-color: #fff;
                border-radius: 0 0 30px 30px;
                border: solid 1px #3c3636;
                border-top: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 21px 12px 30px;

                .category {
                  display: inline-block;
                  padding: 2px 12px;
                  color: #3c3636;
                  font-size: 12px;
                  font-weight: 500;
                  letter-spacing: 0.1em;
                  border: solid 0.5px #3c3636;
                  border-radius: 25px;
                }

                .category-red {
                  background-color: #e81e23;
                  color: #fff !important;
                }

                .category-green {
                  background-color: #5cb232;
                  color: #fff !important;
                }

                .category-yellow {
                  background-color: #f4ba1d;
                }

                .term {
                  font-size: 14px;
                  font-weight: 500;
                }

                h3 {
                  margin-top: 10px;
                  font-size: 16px;
                  font-weight: 500;
                  letter-spacing: 0.1em;
                }
              }
            }
          }
        }
      }
    }
  }
  .sec04 {
    padding-bottom: 80px;
    .sec04-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
      .sec04-wrap-icon {
        position: absolute;
        display: none;
        width: 56px;
        bottom: -65px;
        @include media(middle) {
          display: block;
        }
      }
      .sec04-wrap-col {
        width: 30%;
        @include media(middle) {
          width: 100%;
          margin-bottom: 30px;
        }
        &:last-child {
          margin-bottom: 0px;
          @include media(middle) {
            margin-bottom: 0px;
          }
        }
        img {
          border-radius: 30px;
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.1em;
          margin-bottom: 10px;
          margin-top: 15px;
          @include media(mobile) {
            margin-top: 10px;
            letter-spacing: 0.02em;
            text-align: center;
            //折り返し禁止
            white-space: nowrap;
          }
        }
        p {
          font-size: 16px;
          line-height: 2;
          font-weight: 500;
          margin: 0;
          @include media(mobile) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .sec05 {
    padding-bottom: 80px;
    @include media(middle) {
      padding-bottom: 40px;
    }
    .content-width-sm {
      position: relative;
    }
    .sec05-wrap-icon {
      position: absolute;
      display: none;
      width: 56px;
      bottom: -65px;
      right: 0px;
      @include media(middle) {
        display: block;
      }
    }

    .sec05-desc {
      font-size: 16px;
      text-align: center;
      font-weight: 500;
      margin: 0px;
      @include media(middle) {
        font-size: 14px;
      }
    }
    .sec05-wrap {
      margin-top: 60px;
      @include media(middle) {
        margin-top: 30px;
      }
      .sec05-wrap-col-full {
        .sec05-table {
          overflow: hidden;
          border-radius: 30px;
          margin-top: 30px;
          table {
            width: 100%;
            @include media(mobile) {
              display: block;
            }
            tbody {
              @include media(mobile) {
                display: block;
                width: 100%;
              }
            }
            tr {
              @include media(mobile) {
                display: block;
                width: 100%;
              }
              &:last-child {
                th,
                td {
                  border-bottom: none;
                }
              }
            }
            th {
              background-color: #214995;
              color: #fff;
              padding: 18px 0px;
              font-size: 19px;
              font-weight: bold;
              width: 34%;
              vertical-align: middle;
              border-bottom: 1px solid #fff;
              line-height: 1.5;
              @include media(middle) {
                font-size: 16px;
              }
              @include media(mobile) {
                display: block;
                width: 100%;
              }
              span {
                font-size: 14px;
                font-weight: bold;
                color: #fff;
              }
            }
            td {
              padding: 18px 0px;
              vertical-align: middle;
              font-size: 18px;
              width: 66%;
              background-color: #fff;
              text-align: center;
              border-bottom: 1px solid #222222;
              font-weight: bold;
              letter-spacing: 0.1em;
              @include media(middle) {
                font-size: 14px;
              }
              @include media(mobile) {
                display: block;
                width: 100%;
              }
              strong {
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.1em;
                @include media(middle) {
                  font-size: 20px;
                }
              }
              small {
                color: #797979;
                font-size: 16px;
                font-weight: bold;
                @include media(middle) {
                  font-size: 14px;
                }
              }
              p {
                font-size: 16px;
                margin: 0px;
                font-weight: 500;
                @include media(middle) {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .sec05-wrap-col {
        margin-bottom: 60px;
        position: relative;
        z-index: 10;
        @include media(middle) {
          margin-bottom: 20px;
        }
        .sec05-wrap-col-dl {
          width: 100%;
          background-color: #fff;
          border-radius: 30px;
          overflow: hidden;
          .sec05-wrap-col-dt {
            display: flex;
            flex-wrap: wrap;
            padding: 45px 80px;
            position: relative;
            cursor: pointer;
            transition: all 0.3s;
            @include media(middle) {
              padding: 10px 10px;
              align-items: center;
            }
            @include media(mobile) {
            }
            &:hover {
              opacity: 0.5;
            }
            &.active {
              i {
                &:after {
                  display: none !important;
                }
              }
            }
            i {
              width: 31px;
              height: 31px;
              position: absolute;
              right: 30px;
              bottom: 50%;
              transform: translateY(50%);
              @include media(middle) {
                width: 20px;
                height: 20px;
                right: 15px;
              }
              &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #222222;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
              }
              &:after {
                content: '';
                position: absolute;
                width: 3px;
                height: 100%;
                background-color: #222222;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            .sec05-wrap-col-left {
              width: 345px;
              @include media(middle) {
                width: 200px;
              }
              @include media(mobile) {
                width: 120px;
              }
              img {
                border-radius: 30px;
                @include media(mobile) {
                  border-radius: 22px;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
            .sec05-wrap-col-right {
              width: calc(100% - 345px - 30px);
              margin-left: 30px;
              @include media(middle) {
                width: calc(100% - 200px - 20px);
                margin-left: 5px;
              }
              @include media(mobile) {
                width: calc(100% - 120px - 10px);
                margin-left: 0px;
                padding: 0px;
              }
              h3 {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.1em;
                margin-bottom: 10px;
                margin-top: 0px;
                @include media(middle) {
                  text-align: left;
                  margin-bottom: 0px;
                  font-size: 16px;
                  padding-left: 8px;
                }
              }
              p {
                font-size: 16px;
                line-height: 2;
                font-weight: 500;
                margin: 0;
                @include media(middle) {
                  font-size: 13px;
                  padding-left: 8px;
                  padding-right: 8px;
                }
                @include media(mobile) {
                  display: none;
                }
              }
            }
          }
        }

        .sec05-wrap-col-dd {
          padding: 0px 80px 40px;
          @include media(middle) {
            padding: 0px 20px 40px;
          }
          h3 {
            text-align: center;
            font-size: 20px;
            margin: 40px 0px 20px;
          }
          .sec05-wrap-col-right {
            @include media(mobile) {
              width: 100%;
              margin-left: 0px;
              margin-top: 15px;
              padding: 0px;
              margin-bottom: 30px;
            }
            img {
              border-radius: 22px;
              display: block;
              margin-bottom: 10px;
            }
            h3 {
              font-size: 20px;
              font-weight: 700;
              letter-spacing: 0.1em;
              margin-bottom: 10px;
              margin-top: 0px;
              @include media(mobile) {
                text-align: left;
                margin-bottom: 0px;
                font-size: 16px;
                padding-left: 8px;
              }
            }
            p {
              font-size: 14px;
              line-height: 2;
              font-weight: 500;
              margin: 0;
            }
          }
          .sec01-center-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 4%;
            @include media(middle) {
              gap: 5px;
              justify-content: center;
            }
            &.sec01-center-wrap--3-1 {
              gap: 2%;
              .sec01-center-wrap-col {
                width: 32%;
                @include media(mobile) {
                  width: 100%;
                }
              }
            }
            &.sec01-center-wrap--heigh-2 {
              dt {
                height: 60px !important;
                @include media(middle) {
                  height: 60px !important;
                }
              }
            }

            .sec01-center-wrap-col {
              width: 48%;
              border: 1px solid #707070;
              overflow: hidden;
              border-radius: 30px;
              @include media(mobile) {
                width: 100%;
                margin-bottom: 10px;
              }
              dl {
                dt {
                  background-color: #214995;
                  height: 45px;
                  width: 100%;
                  font-size: 16px;
                  color: #fff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: bold;
                  text-align: center;
                  @include media(middle) {
                    font-size: 16px;
                  }
                  @include media(mobile) {
                    font-size: 16px;
                    height: 53px;
                  }
                }
                dd {
                  height: 80px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  @include media(middle) {
                    height: auto;
                    padding: 15px 0px;
                  }
                  p {
                    font-size: 25px;
                    font-weight: bold;
                    letter-spacing: 0.1em;
                    margin: 0px;
                    text-align: center;
                    line-height: 1;
                    @include media(middle) {
                      font-size: 20px;
                    }
                    span {
                      font-size: 18px;
                      font-weight: bold;
                      letter-spacing: 0.1em;
                      @include media(middle) {
                        font-size: 16px;
                      }
                    }
                    small {
                      font-size: 14px;
                      font-weight: 600;
                      color: #797979;
                      @include media(middle) {
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .sec05-wrap-col-dd {
          display: none;
          .sec05-table {
            overflow: hidden;
            border-radius: 30px;
            margin-top: 0px;
            border: 1px solid #222222;
            margin-bottom: 20px;

            table {
              width: 100%;

              tr {
                &:last-child {
                  th,
                  td {
                    border-bottom: none;
                  }
                }
              }
              th {
                background-color: #dce7fa;
                color: #222222;
                padding: 14px 0px;
                font-size: 14px;
                font-weight: bold;
                width: 30%;
                vertical-align: middle;
                border-bottom: 1px solid #222;
                border-right: 1px solid #222;
                line-height: 1.2;
                @include media(middle) {
                  font-size: 16px;
                }
                @include media(mobile) {
                  width: 30%;
                }
                &.main-th {
                  background-color: #214995 !important;
                  border-bottom: none !important;
                  color: #fff;
                  font-size: 16px;
                  height: 92px;
                  @include media(middle) {
                    height: 60px;
                  }
                }

                span {
                  font-size: 14px;
                  font-weight: bold;
                  color: #fff;
                }
              }
              td {
                padding: 14px 0px;
                vertical-align: middle;
                font-size: 18px;
                width: 40%;
                background-color: #fff;
                text-align: center;
                border-bottom: 1px solid #222222;
                font-weight: bold;
                letter-spacing: 0.1em;
                @include media(middle) {
                  font-size: 16px;
                }
                @include media(mobile) {
                  width: 70%;
                }

                strong {
                  font-size: 22px;
                  font-weight: bold;
                  letter-spacing: 0.1em;
                  @include media(middle) {
                    font-size: 20px;
                  }
                }
                small {
                  color: #797979;
                  font-size: 12px;
                  font-weight: bold;
                  @include media(middle) {
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .sec06 {
    padding-bottom: 80px;
    @include media(middle) {
      padding-bottom: 30px;
    }
    .sec06-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include media(mobile) {
        flex-direction: column-reverse;
      }
      .sec06-wrap-left {
        width: 40%;
        @include media(mobile) {
          width: 100%;
        }
        h3 {
          margin-bottom: 20px;
          font-size: 20px;
        }
        p {
          font-size: 16px;
          line-height: 1.68;
          font-weight: 500;
          letter-spacing: 0.05em;
          margin-bottom: 30px;
          @include media(middle) {
            font-size: 14px;
          }
        }
        .sec06-dl {
          margin-bottom: 30px;
          dl {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0px;
            }
            dt {
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 5px;
              @include media(middle) {
                font-size: 14px;
              }
            }
            dd {
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 0.1em;
              @include media(middle) {
                font-size: 14px;
              }
            }
          }
        }
      }
      .sec06-wrap-right {
        width: 55%;
        @include media(mobile) {
          width: 100%;
          margin-bottom: 20px;
        }
        img {
          border-radius: 30px;
        }
      }
    }
  }
}
