@use 'setting' as *;
.today {
  background-color: #fefbf5;
  .sec00 {
    padding-bottom: 100px;
    .sec00-container {
      background-color: #fff;
      overflow: hidden;
      position: relative;
      width: 90%;
      max-width: 905px;
      margin: 40px auto;
      padding: 60px 100px;
      border-radius: 30px;
      position: relative;
      @include media(middle) {
        padding: 30px 0px 60px;
      }
      .sec00-attention {
        position: absolute;
        right: 30px;
        bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 10px;
        font-weight: 500;
        i {
          width: 23.5px;
          height: 23.5px;
          display: block;
          background-color: rgba($color: #e81e23, $alpha: 0.2);
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
    .sec00-swiper {
      .swiper-slide {
        width: 97px !important;
        @include media(middle) {
          width: 80px !important;
        }
      }
      .swiper-slide-text {
        width: 97px;
        height: 96px;
        border: 3px solid #e81e23;
        background-color: rgba($color: #e81e23, $alpha: 0.2);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(middle) {
          width: 80px;
          height: 80px;
        }
        .swiper-slide-text-container {
          font-size: 27px;
          font-weight: 900;
          line-height: 1;
          padding-bottom: 10px;
          @include media(middle) {
            font-size: 20px;
          }
          strong {
            font-size: 42px;
            font-weight: 900;
            position: relative;
            top: 10px;
            @include media(middle) {
              font-size: 34px;
            }
          }
          span {
            font-size: 19px;
            font-weight: bold;
            @include media(middle) {
              font-size: 16px;
              display: block;
              margin-top: 8px;
            }
          }
        }
      }
    }
    .swiper-button-prev {
      left: 50px;
      background-image: url('./assets/img/icon/swiper-btn-prev.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      @include media(middle) {
        left: 10px;
        width: 25px;
        height: 25px;
      }
      &:after {
        display: none;
      }
    }
    .swiper-button-next {
      right: 50px;
      background-image: url('./assets/img/icon/swiper-btn-next.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      @include media(middle) {
        right: 10px;
        width: 25px;
        height: 25px;
      }
      &:after {
        display: none;
      }
    }
  }

  .sec06-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .sec06-bottom-col {
      width: 48%;
      @include media(mobile) {
        width: 100%;
        margin-bottom: 30px;
      }
      &:first-child {
        a {
          &:before {
            display: none !important;
          }
          .sec-01-col-under-title {
            img {
              width: 80%;
              max-width: 221px;
            }
            .icon-btn {
              bottom: 15px;
              right: 90px;
            }
          }
        }
      }
    }
    .sec-01-col-under {
      width: 100%;
      position: relative;
      z-index: 4;

      a {
        display: flex;
        flex-direction: row-reverse;
        padding: 15px;
        border: solid 1px #222222;
        border-radius: 30px;
        background-color: #fff;
        position: relative;
        align-items: center;

        &::before {
          position: absolute;
          display: block;
          content: '';
          width: 77px;
          height: 85px;
          background-image: url(("./assets/img/icon/icon-suzu.png"));
          background-size: contain;
          background-repeat: no-repeat;
          right: -30px;
          top: -50px;
          transition: transform 0.4s ease;
        }

        &:hover {
          &::before {
            transform: translate(10px, -10px) rotate(10deg);
          }

          .sec-01-col-under-img {
            img {
              transform: scale(1.1);
            }
          }

          .sec-01-col-under-move-item {
            span {
              &:first-of-type {
                transform: rotate(-10deg);
              }

              &:nth-of-type(2) {
                transform: translateY(-10px);
              }
            }
          }

          .sec-01-col-under-title {
            h3 {
              i {
                transform: translate(15px, 5px);
              }
            }
          }
        }

        .sec-01-col-under-img {
          //width: 34%;
          width: 192px;
          height: 100%;
          border-radius: 22px;
          overflow: hidden;
          @include media(middle) {
            width: 125px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease;
          }
        }

        .sec-01-col-under-title {
          width: calc(100% - 192px);
          padding: 0 10px;
          @include media(middle) {
            width: calc(100% - 125px);
            padding: 0 5px;
          }

          h3 {
            font-size: 57px;
            position: relative;
            color: #000;
            font-family: $font-en;
            display: flex;
            img {
              width: 100%;
              max-width: 218px;
            }

            span {
              font-size: 57px;
              font-family: $font-en;
              color: transparent;
              -webkit-text-stroke: 2px black;
            }

            .icon-fire {
              width: 37px;
              height: 53px;
              background-image: url(("./assets/img/icon/icon-01-small.png"));
              background-size: contain;
              background-repeat: no-repeat;
              //display: block;
              display: inline-block;
              transform: translateX(10px);
            }

            .icon-btn {
              width: 30px;
              height: 30px;
              background-image: url(("./assets/img/icon/icon-btn-big.png"));
              background-size: contain;
              background-repeat: no-repeat;
              //display: block;
              position: absolute;
              display: inline-block;
              transform: translate(10px, 5px);
              right: 30px;
              bottom: 10px;
              transition: transform 0.4s ease;
            }
          }

          p {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.07em;
            margin-bottom: 0;
          }
        }

        .sec-01-col-under-move-item {
          width: 139px;
          position: relative;

          span {
            position: absolute;
            transition: transform 0.4s ease;

            &:nth-of-type(3) {
              width: 35px;
              right: 0;
              top: 29px;
            }

            &:last-of-type {
              width: 50px;
              left: 0;
              bottom: 0;
            }

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
