@use 'setting' as *;

:root {
  --color-black: #3c3636;
  --color-blue: #007bff;
  --color-white: #fff;
  --font-size-12: 12px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-65: 65px;
}
//一時的に案内非表示にしたので追加
.sec04--no-annai {
  padding-bottom: 120px !important;
  @include media(middle) {
    padding-bottom: 60px !important;
  }
}
.no-link {
  pointer-events: none !important;
  cursor: default !important;
  &:hover {
    opacity: 1 !important;
  }
}

.color-white {
  color: #fff !important;
}

.content-width--mobile-full {
  @include media(mobile) {
    width: 100% !important;
  }
}

.content-width--middle-full {
  @include media(middle) {
    width: 100% !important;
  }
}

.content-width-lg {
  width: 88%;
  max-width: 1155px;
  margin: 0 auto;
}

.content-width-medium {
  width: 88%;
  max-width: 904px;
  margin: 0 auto;
}

.content-width {
  width: 88%;
  max-width: 1088px;
  margin: 0 auto;
}

.content-width-small {
  width: 88%;
  max-width: 996px;
  margin: 0 auto;
}

.content-width-sm {
  width: 88%;
  max-width: 950px;
  margin: 0 auto;
}

img.lazyload {
  opacity: 0;
  transition: opacity 0.5s ease;
}

img.lazyloaded {
  opacity: 1 !important;
}

.w-full {
  width: 100% !important;
}

.hidden-middle {
  @include media(middle) {
    display: none !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-sm {
  font-size: 14px !important;
}

.hidden-sm {
  @include media(sm) {
    display: none !important;
  }
}

.hidden-md {
  @include media(md) {
    display: none !important;
  }
}

.hidden-middle-small {
  @include media(middle-small) {
    display: none !important;
  }
}

.hidden-mobile {
  @include media(mobile) {
    display: none !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;

  @include media(middle) {
    margin-bottom: 20px !important;
  }
}

.mb-60 {
  margin-bottom: 60px !important;

  @include media(middle) {
    margin-bottom: 30px !important;
  }
}

.mb-30-mobile {
  @include media(mobile) {
    margin-bottom: 30px !important;
  }
}

.text-base {
  font-size: 16px !important;

  @include media(middle) {
    font-size: 14px !important;
  }
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.center {
  text-align: center;
}

.com-btn-mobile-reverse {
  width: 100%;
  max-width: 279px;
  margin: 0 auto;

  &.com-btn-mobile--full {
    max-width: 100%;
  }

  a {
    background-color: #fff;
    display: flex;

    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 51px;
    padding: 17px 25px 17px 30px;
    border-radius: 26px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border: 1px solid #3c3636;

    &:hover {
      //background-color: #2e549c !important;

      @include media(md) {
        i {
          transform: translateX(10px);
        }

        .icon-btn--1 {
          transform: translate(10px, -5px) rotate(10deg);

          @include media(middle) {
            transform: translate(10px, -10px) rotate(10deg);
          }
        }

        .icon-btn--2 {
          transform: translate(10px, -15px);

          @include media(middle) {
            transform: translate(10px, -20px);
          }
        }
      }
    }

    @include media(middle) {
      font-size: 16px;
    }

    i {
      width: 22px;
      height: 22px;
      background-image: url(("./assets/img/icon/icon-btn-blown.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      transition: transform 0.4s ease;
      transform: rotate(180deg);
      left: 20px;
      position: absolute;
    }
  }
}

.com-btn-mobile {
  width: 100%;
  max-width: 279px;
  margin: 0 auto;

  &.com-btn-mobile--full {
    max-width: 100%;
  }

  &.com-btn-mobile--small {
    a {
      @include media(middle) {
        font-size: 12px !important;
      }
    }
  }

  a {
    background-color: #fff;
    display: flex;

    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 51px;
    padding: 17px 25px 17px 30px;
    border-radius: 26px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border: 1px solid #3c3636;

    @include media(middle) {
      letter-spacing: 0.05em;
      font-size: 15px;
    }

    &:hover {
      //background-color: #2e549c !important;
      i {
        transform: translateX(10px);

        @include media(middle) {
          transform: translateX(5px);
        }
      }

      .icon-btn--1 {
        transform: translate(10px, -5px) rotate(10deg);

        @include media(middle) {
          transform: translate(10px, -15px) rotate(10deg);
        }
      }

      .icon-btn--2 {
        transform: translate(10px, -15px);

        @include media(middle) {
          transform: translate(10px, -15px);
        }
      }
    }

    i {
      width: 22px;
      height: 22px;
      background-image: url(("./assets/img/icon/icon-btn-blown.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      transition: transform 0.4s ease;
      right: 20px;
      position: absolute;

      @include media(middle) {
        width: 18px;
        height: 18px;
        right: 15px;
      }

      &.icon-green {
        background-image: url(("./assets/img/icon/icon-btn-green-2.png")) !important;
      }

      &.icon-blue {
        background-image: url(("./assets/img/icon/icon-arrow-blue-right.svg")) !important;
      }
    }
  }
}

.com-btn-recruit {
  a {
    //background-image: url("./assets/img/icon/icon-arrow-bottom-brown.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 0px center;
    width: 100%;
    display: block;
    padding: 10px 0px 10px 0px;
    color: #004e64;
    border: none;
    max-width: 292px;
    border-radius: 0px;
    background-color: inherit;
    font-family: $font-gothic;
    letter-spacing: 0.08em;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s;
    text-align: left;
    position: relative;
    font-family: $font-en;

    @include media(middle) {
      font-size: 18px;
      max-width: 400px;
    }

    &:before {
      width: 100%;
      height: 2px;
      background-color: #004e64;
      position: absolute;
      bottom: 0px;
      left: 0;
      content: '';
      transition: width 0.3s, left 0.3s;

      //animation-play-state: paused; /* 初期状態では停止 */
    }

    &:after {
      width: 15px;
      height: 15px;
      background-image: url('./assets/img/icon_recruit/icon-arrow-bottom-brown.svg');
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: right 0px center;
      position: absolute;
      right: 0px;
      bottom: 50%;
      transform: translateY(50%);
      content: '';
      transition: all 0.3s ease;
    }

    &:hover {
      &:after {
        right: -5px !important;
      }

      &:before {
        animation: border-animation 4s infinite ease-in-out;
        width: 0;
      }

      @keyframes border-animation {
        0% {
          width: 100%;
          left: 0;
        }

        10% {
          width: 0;
          left: 100%;
        }

        90% {
          width: 0;
          left: 100%;
          /* 完全に消える状態をキープ */
        }

        91% {
          left: 0;
          /* 消えた後、位置をリセット */
        }

        100% {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

.back_btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: #a0a0a0;
  padding: 0 25px 5px 0;
  border-bottom: solid 2px #a0a0a0;
  position: relative;
  margin-top: 60px;

  @include media(mobile) {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 40px auto 20px;
    font-size: 14px;
    padding: 15px 0px;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 14px;
    height: 11px;
    background-image: url('./assets/img/icon_recruit/icon_arrow_gray.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    top: calc(50%);
    transform: translateY(-50%);
  }
}

.com-btn {
  width: 100%;
  max-width: 453px;

  a {
    background-color: #3c3636;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding: 17px 25px 17px 30px;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;

    &:hover {
      background-color: #2e549c !important;

      i {
        transform: translateX(10px);
        background-image: url(("./assets/img/icon/icon-btn-blue-3.png"));
      }

      .icon-btn--1 {
        transform: translate(10px, -5px) rotate(10deg);

        @include media(middle) {
          transform: translate(10px, -10px) rotate(10deg);
        }
      }

      .icon-btn--2 {
        transform: translate(10px, -15px);

        @include media(middle) {
          transform: translate(10px, -20px);
        }
      }
    }

    @include media(middle) {
      font-size: 16px;
    }

    i {
      width: 38px;
      height: 38px;
      background-image: url(("./assets/img/icon/icon-btn-blown.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      transition: transform 0.4s ease;
      right: 25px;
      position: absolute;

      @include media(middle) {
        width: 28.85px;
        height: 28.85px;
      }
    }

    .icon-btn--1 {
      width: 18.18px;
      height: 30.79px;
      //position: absolute;
      display: inline-block;
      transform: translate(10px, -5px);
      transition: transform 0.4s ease;

      @include media(middle) {
        width: 14.26px;
        height: 24.15px;
        transform: translate(10px, -10px);
      }
    }

    .icon-btn--2 {
      width: 28px;
      height: 27px;
      display: inline-block;
      transform: translate(10px, -10px);
      transition: transform 0.4s ease;

      @include media(middle) {
        width: 23.03px;
        height: 22.41px;
        transform: translate(10px, -15px);
      }
    }
  }
}

.com-title-white {
  p {
    color: #fff !important;
  }

  span {
    color: #fff !important;
  }

  a {
    color: #fff !important;
    border-bottom: solid 1px #fff !important;

    i {
      background-image: url(("./assets/img/icon/icon-btn-green.png")) !important;
    }
  }
}

.com-title-faq {
  text-align: left;
  padding-left: 52px;

  @include media(mobile) {
    text-align: center;
    padding-left: 0;
  }

  a {
    position: static !important;
    //display: block !important;
    margin-top: 20px;

    @include media(middle-small) {
      position: absolute !important;
    }
  }

  .title-item-sprout {
    @include media(mobile) {
      right: -0px !important;
      top: -39px !important;
    }

    img {
      width: 100%;
    }
  }
}

.com-title.in-view .title {
  opacity: 1;
  transform: translateY(0);
}

.com-title.in-view .title-item-sun.animate,
.com-title.in-view .title-item-sun-big.animate,
.com-title.in-view .title-item-sprout.animate {
  opacity: 1;
  transform: translateY(0);
}

.page-main .com-title {
  .title-item-sun {
    top: -35px !important;
  }
}

.com-title {
  position: relative;

  @include media(mobile) {
    text-align: center;
  }

  //overflow: hidden;
  //padding-top: 20px;
  &.com-title--first {
    .title-item-sun {
      @include media(middle) {
        top: -23px !important;
        left: -16px !important;
      }
    }
  }
  &.com-title--schedule {
    h2,
    h1 {
      .title {
        @include media(middle) {
          font-size: 32px !important;
        }
      }

      .title-item-sun {
        @include media(middle) {
          top: -23px !important;
          left: 0px !important;
        }
      }
    }
    .title-item-sprout {
      @include media(middle) {
        width: 16px !important;
        height: auto;
        position: absolute;
        right: 0px !important;
        top: -30px !important;
      }

      img {
        width: 100%;
      }
    }
  }

  &.com-title--else {
    h2,
    h1 {
      .title {
        @include media(middle) {
          font-size: 32px !important;
        }
      }

      .title-item-sun {
        @include media(middle) {
          left: 0px !important;
          top: -25px !important;
        }
      }
    }

    .title-item-sprout {
      @include media(middle) {
        width: 16px !important;
        height: auto;
        position: absolute;
        right: -3px !important;
        top: -31px !important;
      }

      img {
        width: 100%;
      }
    }
  }

  .in-view {
    font-size: 14px;
  }

  &.com-title--small {
    h2 {
      .title {
        font-size: 45px !important;
      }
    }

    .title-item-sprout {
      transform: translateY(0px) !important;
    }
  }

  &.com-title--small {
    .title-item-sprout {
      transform: translateY(30px) !important;
    }
  }

  &.com-title--sitemap {
    .title-item-sprout {
      right: 1px !important;
      width: 30px !important;
    }
  }

  &.com-title--today {
    p {
      line-height: 1 !important;
    }

    h2 {
      .title {
        font-size: 50px !important;

        @include media(middle) {
          font-size: 35px !important;
        }
      }

      .title-item-sun {
        @include media(middle) {
          top: -23px !important;
          left: 0px !important;
        }
      }
    }

    .title-item-sprout {
      width: 21px !important;
      height: auto;
      position: absolute;
      right: 0px !important;
      top: -47px !important;

      @include media(middle) {
        width: 16px !important;
        height: auto;
        position: absolute;
        right: 0px !important;
        top: -32px !important;
      }

      img {
        width: 100%;
      }
    }
  }

  &.com-title--food {
    p {
      line-height: 1 !important;
    }

    h2 {
      .title {
        font-size: 50px !important;

        @include media(middle) {
          font-size: 35px !important;
        }
      }
    }

    .title-item-sprout {
      width: 21px !important;
      height: auto;
      position: absolute;
      right: 0px !important;
      top: -47px !important;

      @include media(middle) {
        width: 16px !important;
        height: auto;
        position: absolute;
        right: 0px !important;
        top: -32px !important;
      }

      img {
        width: 100%;
      }
    }
  }

  &.com-title--sweating {
    p {
      line-height: 1 !important;
    }

    h2 {
      .title {
        font-size: 50px !important;

        @include media(middle) {
          font-size: 32px !important;
        }
      }
    }

    .title-item-sprout {
      width: 21px !important;
      height: auto;
      position: absolute;
      right: 9px !important;
      top: -47px !important;

      @include media(middle) {
        width: 16px !important;
        height: auto;
        position: absolute;
        right: 5px !important;
        top: -30px !important;
      }

      img {
        width: 100%;
      }
    }
  }

  &.com-title--relax {
    p {
      line-height: 1 !important;
    }

    h2 {
      .title {
        font-size: 50px !important;

        @include media(middle) {
          font-size: 35px !important;
        }
      }
    }

    .title-item-sprout {
      width: 21px !important;
      height: auto;
      position: absolute;
      right: 3px !important;
      top: -47px !important;

      @include media(middle) {
        width: 18px !important;
        height: 17px !important;
        top: -15px !important;
        right: -3px !important;
        top: -33px !important;
      }

      img {
        width: 100%;
      }
    }
  }

  &.com-title--goods {
    p {
      line-height: 1 !important;
    }

    h2 {
      .title {
        font-size: 50px !important;
      }
    }

    .title-item-sprout {
      width: 21px !important;
      height: auto;
      position: absolute;
      right: 95px !important;
      top: 13px !important;

      @include media(middle) {
        width: 18px;
        height: 17px;
        top: -20px;
        right: 50px !important;
        top: -40px;
      }

      img {
        width: 100%;
      }
    }
  }

  &.com-title--page {
    p {
      line-height: 1 !important;
    }

    h2 {
      .title {
        font-size: 50px !important;
      }
    }

    .title-item-sprout {
      width: 21px !important;
      height: auto;
      position: absolute;
      right: 9px !important;
      top: -47px !important;

      @include media(middle) {
        width: 18px;
        height: 17px;
        top: -20px;
        right: -5px;
        top: -40px;
      }

      img {
        width: 100%;
      }
    }
  }

  p {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    line-height: 1;
    position: relative;
    z-index: 3;

    @include media(middle) {
      font-size: 13px;
    }
  }

  h1,
  h2 {
    position: relative;
    display: inline-block;
    z-index: 2;

    .title {
      display: inline-block;
      font-size: 65px;
      font-weight: 900;
      font-family: $font-en;
      letter-spacing: 0.04em;
      position: relative;
      z-index: 2;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.6s ease, opacity 0.6s ease;

      @include media(middle) {
        font-size: 45px;
      }
    }

    /*
    .title.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    .title:nth-child(1).in-view {
      transition-delay: 0.2s;
    }

    .title:nth-child(2).in-view {
      transition-delay: 0.3s;
    }

    .title:nth-child(3).in-view {
      transition-delay: 0.4s;
    }

    .title:nth-child(4).in-view {
      transition-delay: 0.5s;
    }

    .title:nth-child(5).in-view {
      transition-delay: 0.6s;
    }

    .title:nth-child(6).in-view {
      transition-delay: 0.7s;
    }

    .title:nth-child(7).in-view {
      transition-delay: 0.8s;
    }

    .title:nth-child(8).in-view {
      transition-delay: 0.9s;
    }

    .title:nth-child(9).in-view {
      transition-delay: 1s;
    }

    .title:nth-child(10).in-view {
      transition-delay: 1.1s;
    }

    .title:nth-child(11).in-view {
      transition-delay: 1.2s;
    }

    .title:nth-child(12).in-view {
      transition-delay: 1.3s;
    }

    .title:nth-child(13).in-view {
      transition-delay: 1.4s;
    }

    .title:nth-child(14).in-view {
      transition-delay: 1.5s;
    }

    .title:nth-child(15).in-view {
      transition-delay: 1.6s;
    }

    .title:nth-child(16).in-view {
      transition-delay: 1.7s;
    }

    .title:nth-child(17).in-view {
      transition-delay: 1.8s;
    }

    .title:nth-child(18).in-view {
      transition-delay: 1.9s;
    }

    .title:nth-child(19).in-view {
      transition-delay: 2s;
    }

    .title:nth-child(20).in-view {
      transition-delay: 2.1s;
    }
      */

    .title-item-sun,
    .title-item-sprout {
      position: absolute;
      opacity: 0;
      transform: translateY(20px);
      //top: -42px;
      //width: 20px;
      //transition: all 0.5s ease;
      right: 7px;
    }

    .title-item-sun {
      left: -62px;
      top: -38px;
      width: 94px;
      height: 93px;
      z-index: 1;
      position: absolute;

      @include media(middle) {
        width: 43px;
        height: 43px;
        top: -20px;
        left: -30px;
      }
    }

    .title-item-sprout {
      width: 40px;
      height: auto;
      position: absolute;
      right: -10px;
      top: -59px;

      @include media(middle) {
        width: 18px;
        height: 17px;
        top: -20px;
        right: -5px;
        top: -40px;
      }
    }

    .title-item-sun-big {
      right: -200px;
      top: -117px;
      width: 312px;
      z-index: 1;
      position: absolute;

      @include media(middle) {
        width: 170px;
        top: -60px;
        right: -50px;
      }

      @include media(mobile) {
        top: -70px;
      }
    }

    /*
    &.in-view .title-item-sun {
      opacity: 1;
      transform: translateY(0);
      bottom: -20px;
      left: 10%;
    }

    &.in-view .title-item-sprout {
      opacity: 1;
      //transform: translateY(0);
    }
      */
  }

  a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 127px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    border-bottom: solid 1px #3c3636;
    padding-bottom: 5px;
    margin-left: 20px;

    &:hover {
      i {
        transform: translateX(5px);
      }
    }

    @include media(middle) {
      font-size: 14px;
      width: 100px;
      bottom: 15px;
      margin-left: 10px;
    }

    @include media(mobile) {
      display: none;
    }

    i {
      width: 22px;
      height: 22px;
      background-image: url(("./assets/img/icon/icon-btn-blown-2.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      transition: transform 0.4s ease;
    }
  }
}

.com-title .title {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.com-title .title.in-view {
  opacity: 1;
  transform: translateY(0);
}

.com-title .title-item-sprout {
  opacity: 0;
  transform: translateY(20px) scale(0.8);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.com-title .title-item-sprout.in-view {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.com-title-concept {
  h2 {
    .com-title-p-hidden {
      line-height: 1 !important;
      overflow: hidden !important;
    }
  }

  .title-item-sprout {
    width: 40px;
    height: auto;
    position: absolute;
    right: -10px;
    top: -63px !important;

    @include media(mobile) {
      top: -48px !important;
    }
  }
}

.com-title-left {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 52px;

  @include media(mobile) {
    padding-left: 0;
  }
}

.com-title-hidden {
  overflow: hidden;
  padding-top: 20px;
}

.com-btn-border-black--233 {
  a {
    max-width: 233px !important;
    width: 100%;
  }
}

.com-btn-border-black--small-v2 {
  a {
    font-size: 16px !important;
    letter-spacing: 0em !important;
    width: 100% !important;
    max-width: 233px !important;

    i {
      width: 23px !important;
      height: 23px !important;
    }
  }
}

.com-btn-border-black--small {
  a {
    font-size: 16px !important;
    letter-spacing: 0em !important;
    width: 100% !important;

    i {
      width: 23px !important;
      height: 23px !important;
    }
  }
}

.com-btn-border--left {
  text-align: left !important;

  a {
  }
}

.com-btn-border-black {
  text-align: center;

  a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #3c3636;
    border-bottom: solid 1px #3c3636;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    //width: 198px;
    padding-bottom: 5px;
    margin: 0px auto 0;

    &:hover {
      i {
        transform: translateX(5px);
      }
    }

    i {
      width: 28px;
      height: 28px;
      background-image: url(("./assets/img/icon/icon-arrow-right.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      transition: transform 0.4s ease;
      margin-left: 10px;

      &.icon-green {
        background-image: url(("./assets/img/icon/icon-arrow-green-right.svg")) !important;
      }

      &.icon-blue {
        background-image: url(("./assets/img/icon/icon-arrow-blue-right.svg")) !important;
      }

      &.icon-opacity {
        background-image: url(("./assets/img/icon/icon-arrow-right-opacity.svg")) !important;
      }
    }
  }
}

.com-btn-border--210 {
  a {
    width: 210px !important;
  }
}

.com-btn-arrow-left--text-left {
  text-align: left !important;
}

.com-btn-arrow-left {
  text-align: center;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-black);

    font-size: 16px;
    padding: 0px 5px 0px 0px;
    padding-bottom: 5px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      i {
        transform: translateX(-5px);
      }
    }

    i {
      width: 22px;
      height: 22px;
      background-image: url(("./assets/img/icon/icon-arrow-left.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      margin-right: 10px;
      transition: transform 0.4s ease;
    }
  }
}

.com-btn-border-white {
  a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #fff;
    border-bottom: solid 1px #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 198px;
    padding-bottom: 5px;
    margin: 0px auto 0;

    &:hover {
      i {
        transform: translateX(5px);
      }
    }

    i {
      width: 28px;
      height: 28px;
      background-image: url(("./assets/img/icon/icon-arrow-right-white-circle.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      transition: transform 0.4s ease;
    }
  }
}

.com-btn-border-green {
  a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #3c3636;
    border-bottom: solid 1px #3c3636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 257px;
    padding-bottom: 5px;
    margin: 55px auto 0;

    &:hover {
      i {
        transform: translateX(5px);
      }
    }

    i {
      width: 28px;
      height: 28px;
      background-image: url(("./assets/img/icon/icon-arrow-green-right.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      transition: transform 0.4s ease;
    }
  }
}

.com-btn-border-blue {
  a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #3c3636;
    border-bottom: solid 1px #3c3636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 257px;
    padding-bottom: 5px;
    margin: 55px auto 0;

    &:hover {
      i {
        transform: translateX(5px);
      }
    }

    i {
      width: 28px;
      height: 28px;
      background-image: url(("./assets/img/icon/icon-arrow-blue-right.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      transition: transform 0.4s ease;
    }
  }
}

.com-btn-sp {
  a {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #3c3636;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 279px;
    height: 51px;
    margin: 0 auto 0;
    background-color: #fff;
    border: solid 1px #3c3636;
    border-radius: 26px;
    position: relative;

    &:hover {
      i {
        transform: translateX(5px);
      }
    }

    @include media(sm) {
      display: none !important;
    }

    i {
      width: 22px;
      height: 22px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      transition: transform 0.4s ease;
      position: absolute;
      right: 20px;
    }

    .green {
      background-image: url(("./assets/img/icon/icon-btn-green-2.png"));
    }

    .black {
      background-image: url(("./assets/img/icon/icon-btn-blown-2.png"));
    }

    .yellow {
      background-image: url(("./assets/img/icon/icon-btn-yellow.png"));
    }
  }
}

.com-sec-01-col-under {
  width: 90%;
  position: relative;
  z-index: 4;
  max-width: 1046px;
  margin: 0 auto;

  @include media(mobile) {
    margin: 30px auto 0;
  }

  a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 19px;
    border: solid 1px #222222;
    border-radius: 30px;
    background-color: #fff;
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 77px;
      height: 85px;
      background-image: url(("./assets/img/icon/icon-suzu.png"));
      background-size: contain;
      background-repeat: no-repeat;
      right: -30px;
      top: -50px;
      transition: transform 0.4s ease;

      @include media(mobile) {
        width: 46px;
        height: 51px;
        right: inherit;
        left: -20px;
        transform: rotate(-60deg);
        top: -28px;
      }
    }

    &:hover {
      &::before {
        transform: translate(10px, -10px) rotate(10deg);

        @include media(mobile) {
          transform: rotate(-60deg);
        }
      }

      .sec-01-col-under-img {
        img {
          transform: scale(1.1);

          @include media(mobile) {
            transform: scale(1);
          }
        }
      }

      .sec-01-col-under-move-item {
        span {
          &:first-of-type {
            transform: rotate(-10deg);

            @include media(mobile) {
              transform: rotate(0deg);
            }
          }

          &:nth-of-type(2) {
            transform: translateY(-10px);

            @include media(mobile) {
              transform: rotate(0deg);
            }
          }
        }
      }

      .sec-01-col-under-title {
        h3 {
          i {
            transform: translate(15px, 5px);

            @include media(mobile) {
              transform: translate(10px, 5px);
            }
          }

          .icon-btn {
            @include media(mobile) {
              transform: translate(5px, 8px);
              pointer-events: none;
            }
          }
        }
      }
    }

    @include media(mobile) {
      flex-wrap: wrap;
      flex-direction: inherit;
    }

    .sec-01-col-under-img {
      //width: 34%;
      width: calc(100% - 619px);
      height: 100%;
      border-radius: 22px;
      overflow: hidden;

      @include media(middle) {
        width: 38%;
      }

      @include media(mobile) {
        width: 100%;
        margin-bottom: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
      }
    }

    .sec-01-col-under-title {
      width: 480px;
      padding: 0 15px;

      @include media(middle) {
        width: 50%;
      }

      @include media(mobile) {
        width: 85%;
      }

      h3 {
        font-size: 57px;
        color: #000;
        font-family: $font-en;
        display: inline-block;

        img {
          width: 100%;
          max-width: 378px;

          @include media(middle) {
            max-width: 100%;
            width: 80%;
          }
        }

        span {
          font-size: 57px;
          font-family: $font-en;
          color: transparent;
          -webkit-text-stroke: 2px black;
        }

        .icon-fire {
          width: 37px;
          height: 53px;
          background-image: url(("./assets/img/icon/icon-01-small.png"));
          background-size: contain;
          background-repeat: no-repeat;
          //display: block;
          display: inline-block;
          transform: translateX(10px);
        }

        .icon-btn {
          width: 48px;
          height: 48px;
          background-image: url(("./assets/img/icon/icon-btn-big.png"));
          background-size: contain;
          background-repeat: no-repeat;
          //display: block;
          display: inline-block;
          transform: translate(10px, 5px);
          transition: transform 0.4s ease;

          @include media(middle) {
            width: 28px;
            height: 28px;
          }

          @include media(mobile) {
            transform: translate(5px, 8px);
          }
        }
      }

      p {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.08em;
        margin-bottom: 0;

        @include media(middle) {
          font-size: 14px;
        }
      }
    }

    .sec-01-col-under-move-item {
      width: 139px;
      height: 172.7px;
      position: relative;

      @include media(middle) {
        width: 75px;
        height: 130.7px;
      }

      @include media(mobile) {
        width: 15%;
        height: auto;
      }

      span {
        position: absolute;
        transition: transform 0.4s ease;

        &:first-of-type {
          width: 95px;
          left: 0;
          top: 8px;

          @include media(middle) {
            width: 38.6px;
          }

          @include media(mobile) {
            top: -5px;
            left: -25px;
          }
        }

        &:nth-of-type(2) {
          width: 65px;
          right: 0;
          bottom: 0;

          @include media(middle) {
            width: 40.35px;
            bottom: 20px;
          }

          @include media(mobile) {
            bottom: 0;
          }
        }

        &:nth-of-type(3) {
          width: 35px;
          right: 0;
          top: 29px;

          @include media(middle) {
            width: 18.4px;
          }

          @include media(mobile) {
            top: 5px;
          }
        }

        &:last-of-type {
          width: 50px;
          left: 0;
          bottom: 0;

          @include media(middle) {
            width: 26px;
            bottom: 35px;
          }

          @include media(mobile) {
            bottom: 0;
            left: -30px;
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

.com-bnr-sec06-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media(middle) {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  .sec06-bottom-col {
    width: 48%;

    @include media(middle) {
      width: 49%;
    }

    @include media(mobile) {
      width: 100%;
      margin-bottom: 20px;
    }

    &.sec06-bottom-col--news {
      a {
        background-image: url(("./assets/img/bnr/page-bnr-news-bg.webp"));

        &:before {
          display: none;
        }

        .sec-01-col-under-title {
          p {
            color: #fff !important;
          }
        }

        .sec-01-col-under-img {
          overflow: visible !important;

          img {
            object-fit: contain !important;
            transition: all 0.3s ease !important;
          }
        }

        &:hover {
          @include media(md) {
            .sec-01-col-under-img {
              img {
                transform: scale(1) rotate(5deg);
              }
            }
          }
        }
      }
    }

    &.sec06-bottom-col--today {
      a {
        &:before {
          display: none !important;
        }

        .sec-01-col-under-title {
          h3 {
            width: 100%;
            max-width: 221px;

            @include media(middle) {
              max-width: 160px;
            }

            @include media(mobile) {
              max-width: 221px;
            }

            img {
              width: 100%;
            }
          }

          .icon-btn {
            bottom: 15px;
            right: 40px;

            @include media(middle) {
              width: 20px;
              right: 25px;
              bottom: 5px;
            }

            @include media(mobile) {
              right: 30px;
              bottom: 12px;
              width: 25px;
            }
          }
        }
      }
    }

    &.sec06-bottom-col--event {
      a {
        &:before {
          display: none !important;
        }

        .sec-01-col-under-title {
          h3 {
            width: 90%;
            max-width: 172px;

            @include media(middle) {
              max-width: 120px;
            }

            @include media(mobile) {
              max-width: 172px;
            }

            img {
              width: 100%;
            }
          }

          .icon-btn {
            bottom: 13px;
            right: 25px;

            @include media(middle) {
              right: 20px;
              bottom: 5px;
              width: 20px;
            }

            @include media(mobile) {
              right: 30px;
              bottom: 13px;
              width: 25px;
            }
          }
        }
      }
    }

    &.sec06-bottom-col--schedule {
      a {
        &::before {
          position: absolute;
          display: block;
          content: '';
          width: 77px;
          height: 85px;
          background-image: url(("./assets/img/icon/icon-suzu.png"));
          background-size: contain;
          background-repeat: no-repeat;
          right: -30px;
          top: -50px;
          transition: transform 0.4s ease;

          @include media(mobile) {
            display: none;
          }
        }
      }

      .sec-01-col-under-img {
        @include media(middle) {
          width: calc(100% - 160px);
        }

        @include media(mobile) {
          width: 30%;
        }
      }

      .sec-01-col-under-title {
        @include media(mobile) {
          width: 70% !important;
        }

        p {
          @include media(mobile) {
            //折り返し禁止
            white-space: nowrap;
          }
        }
      }
    }
  }

  .sec-01-col-under {
    width: 100%;
    position: relative;
    z-index: 4;

    a {
      display: flex;
      flex-direction: row-reverse;
      padding: 15px;
      border: solid 1px #222222;
      border-radius: 30px;
      background-color: #fff;
      position: relative;
      align-items: center;
      height: 176px;

      @include media(middle) {
        padding: 8px;
      }

      @include media(mobile) {
        padding: 15px;
        height: 155px;
      }

      &:hover {
        @include media(md) {
          &::before {
            transform: translate(10px, -10px) rotate(10deg);
          }

          .sec-01-col-under-img {
            img {
              transform: scale(1.1);
            }
          }

          .sec-01-col-under-move-item {
            span {
              &:first-of-type {
                transform: rotate(-10deg);
              }

              &:nth-of-type(2) {
                transform: translateY(-10px);
              }
            }
          }

          .sec-01-col-under-title {
            h3 {
              i {
                transform: translate(15px, 5px);
              }
            }
          }
        }
      }

      .sec-01-col-under-img {
        //width: 34%;
        width: 192px;
        height: 100%;
        border-radius: 22px;
        overflow: hidden;

        @include media(middle) {
          width: calc(100% - 160px);
        }

        @include media(mobile) {
          width: 125px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 1s ease;
        }

        &.sec-01-col-under-img--schedule {
          img {
            height: 124px;
            object-fit: contain;
            transform: translateX(10px);
          }
        }
      }

      .sec-01-col-under-title {
        width: calc(100% - 192px);
        padding: 0 10px;

        @include media(middle) {
          width: 160px;
        }

        @include media(mobile) {
          width: calc(100% - 125px);
          padding: 0 5px;
        }

        h3 {
          font-size: 57px;
          position: relative;
          color: #000;
          font-family: $font-en;
          display: flex;

          img {
            width: 100%;
            max-width: 218px;
          }

          span {
            font-size: 57px;
            font-family: $font-en;
            color: transparent;
            -webkit-text-stroke: 2px black;
          }

          .icon-fire {
            width: 37px;
            height: 53px;
            background-image: url(("./assets/img/icon/icon-01-small.png"));
            background-size: contain;
            background-repeat: no-repeat;
            //display: block;
            display: inline-block;
            transform: translateX(10px);
          }

          .icon-btn {
            width: 30px;
            height: 30px;
            background-image: url(("./assets/img/icon/icon-btn-big.png"));
            background-size: contain;
            background-repeat: no-repeat;
            //display: block;
            position: absolute;
            display: inline-block;
            transform: translate(10px, 5px);
            right: 30px;
            bottom: 10px;
            transition: transform 0.4s ease;

            @include media(middle) {
              width: 25px;
              height: 25px;
              right: -18px;
              bottom: 7px;
            }
          }
        }

        p {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.07em;
          margin-bottom: 0;

          @include media(middle) {
            font-size: 10px;
          }

          @include media(mobile) {
            font-size: 13px;
          }
        }
      }

      .sec-01-col-under-move-item {
        width: 139px;
        position: relative;

        span {
          position: absolute;
          transition: transform 0.4s ease;

          &:nth-of-type(3) {
            width: 35px;
            right: 0;
            top: 29px;
          }

          &:last-of-type {
            width: 50px;
            left: 0;
            bottom: 0;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  //background-color: rgba(0,0,0,0.5);
  z-index: 10000;
  .popup-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup-img {
    //リンク無効
    pointer-events: none;
    width: 90%;
    max-width: 664px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
