@use 'setting' as *;

:root {
  --color-black: #3c3636;
  --color-blue: #007bff;
  --color-white: #fff;
  --font-size-12: 12px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-65: 65px;
}

.content-width {
  //width: 85%;
  //max-width: $content-width;
  //margin: 0 auto;
}

.content-width {
  width: 90%;
  max-width: 1088px;
  margin: 0 auto;
}

.content-width-small {
  width: 90%;
  max-width: 996px;
  margin: 0 auto;
}

img.lazyload {
  opacity: 0;
  transition: opacity 0.5s ease;
}

img.lazyloaded {
  opacity: 1 !important;
}

.hidden-middle {
  @include media(middle) {
    display: none !important;
  }
}

.hidden-sm {
  @include media(sm) {
    display: none !important;
  }
}

.hidden-md {
  @include media(md) {
    display: none !important;
  }
}

.hidden-mobile {
  @include media(mobile) {
    display: none !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.center {
  text-align: center;
}

.com-btn {
  width: 100%;
  max-width: 453px;

  a {
    background-color: #3c3636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 17px 25px 17px 30px;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;

    &:hover {
      background-color: #f5bd26 !important;

      i {
        transform: translateX(10px);
      }
    }

    i {
      width: 38px;
      height: 38px;
      background-image: url(("./assets/img/icon/icon-btn-blown.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      transition: transform 0.4s ease;
    }
  }
}

.com-title-white {
  p {
    color: #fff !important;
  }

  span {
    color: #fff !important;
  }

  a {
    color: #fff !important;
    border-bottom: solid 1px #fff !important;

    i {
      background-image: url(("./assets/img/icon/icon-btn-green.png")) !important;
    }
  }
}

.com-title-faq {
  text-align: left;
  padding-left: 40px;

  a {
    position: static !important;
    //display: block !important;
    margin-top: 20px;
  }
}

.com-title.in-view .title {
  opacity: 1;
  transform: translateY(0);
}

.com-title.in-view .title-item-sun.animate,
.com-title.in-view .title-item-sun-big.animate,
.com-title.in-view .title-item-sprout.animate {
  opacity: 1;
  transform: translateY(0);
}

.com-title {
  position: relative;
  //overflow: hidden;
  //padding-top: 20px;

  p {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    line-height: 1;
    position: relative;
    z-index: 3;
  }

  h2 {
    position: relative;
    display: inline-block;
    z-index: 2;

    .title {
      display: inline-block;
      font-size: 65px;
      font-weight: 900;
      font-family: $font-en;
      letter-spacing: 0.1em;
      position: relative;
      z-index: 2;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.6s ease, opacity 0.6s ease;
    }

    .title.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    .title:nth-child(1).in-view {
      transition-delay: 0.2s;
    }

    .title:nth-child(2).in-view {
      transition-delay: 0.5s;
    }

    .title:nth-child(3).in-view {
      transition-delay: 0.8s;
    }

    .title:nth-child(4).in-view {
      transition-delay: 1.1s;
    }

    .title:nth-child(5).in-view {
      transition-delay: 1.4s;
    }

    .title:nth-child(6).in-view {
      transition-delay: 1.7s;
    }

    .title:nth-child(7).in-view {
      transition-delay: 2s;
    }

    .title:nth-child(8).in-view {
      transition-delay: 2.3s;
    }

    .title:nth-child(9).in-view {
      transition-delay: 2.6s;
    }

    .title-item-sun,
    .title-item-sprout {
      position: absolute;
      opacity: 0;
      transform: translateY(20px);
      //transition: all 0.5s ease;
    }

    .title-item-sun {
      left: -50px;
      top: -30px;
      width: 94px;
      height: 93px;
      z-index: 1;
      position: absolute;
    }

    .title-item-sprout {
      width: 40px;
      height: auto;
      position: absolute;
      right: -10px;
      top: -59px;
    }

    .title-item-sun-big {
      right: -100px;
      top: -117px;
      width: 312px;
      z-index: 1;
      position: absolute;
    }

    &.in-view .title-item-sun {
      opacity: 1;
      transform: translateY(0);
      bottom: -20px;
      left: 10%;
    }

    &.in-view .title-item-sprout {
      opacity: 1;
      //transform: translateY(0);
    }
  }

  a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 127px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    border-bottom: solid 1px #3c3636;
    padding-bottom: 5px;

    &:hover {
      i {
        transform: translateX(5px);
      }
    }

    i {
      width: 22px;
      height: 22px;
      background-image: url(("./assets/img/icon/icon-btn-blown-2.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      transition: transform 0.4s ease;
    }
  }
}

@keyframes titleIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.com-title-left {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
}

.com-title-hidden {
  overflow: hidden;
  padding-top: 20px;
}
