@use 'setting' as *;

.header-drawer.drawer-open {
  transform: translateY(0);
  visibility: visible;
}

.header-drawer.drawer-open .header-drawer-bg {
  opacity: 1;
}

.header-drawer.drawer-open .header-drawer-container {
  transform: translateX(0);
  transition-delay: 0.2s;
  /* ←背景が出た後0.2秒遅れて動く */
}

.header-drawer {
  position: fixed;
  inset: 0;
  /* top:0, right:0, bottom:0, left:0 */
  z-index: 1000;
  visibility: hidden;
  overflow: hidden;

  @include media(lg) {
    overflow-y: scroll;
  }

  .header-drawer-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* ビューポート幅いっぱい */
    height: 100vh;
    /* ビューポート高さいっぱい */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 999;
    /* パネルより下、でも背景の上 */
  }

  .header-drawer-container {
    padding: 59px 0 45px;
    position: relative;
    z-index: 1001;
    /* 背景より上 */
    width: 68%;
    height: 100%;
    /* 全高確保 */
    margin-left: auto;
    background-color: #fefbf5;
    transform: translateX(100%);
    /* 初期は右の外 */
    transition: transform 0.4s ease;
    transition-delay: 0s;
    /* ←初期は遅延なし */
    overflow-x: scroll;

    @include media(middle-small) {
      width: 90%;
    }
  }

  .header-drawer-wrap {
    //height: 100vh;
    //height: 100%;
    padding: 0px 10%;
    background-color: #fefbf5;
    margin-left: auto;
    position: relative;
    z-index: 1000;
    border-radius: 0 0 0 30px;

    @include media(llg) {
      padding: 0px 5%;
    }

    @include media(middle-small) {
      //padding: 0;
    }

    @include media(mobile) {
      width: 100%;
      margin: 0 auto;
    }

    .com-title-header {
      text-align: left;
      padding-left: 40px;

      p {
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        line-height: 1;
        position: relative;
        z-index: 3;
        text-align: center;

        @include media(middle) {
          font-size: 11px;
        }
      }

      h2 {
        position: relative;
        display: inline-block;

        .title {
          display: inline-block;
          font-size: 45px;
          font-weight: 900;
          font-family: $font-en;
          letter-spacing: 0.1em;
          position: relative;

          @include media(middle) {
            font-size: 38px;
          }
        }

        .title-item-sprout {
          width: 22px;
          height: auto;
          position: absolute;
          right: -3px;
          top: -8px;

          @include media(middle) {
            width: 22px;
            top: -6px;
          }
        }

        .title-item-sun {
          left: -50px;
          top: -10px;
          width: 71px;
          height: 71px;
          //z-index: 1;
          position: absolute;

          @include media(middle) {
            width: 68px;
            height: 68px;
            //top: -10px;
            //left: -20px;
          }
        }
      }
    }

    .header-drawer-wrap-menu {
      margin-top: 45px;

      @include media(middle-small) {
        margin-top: 25px;
      }

      ul {
        padding: 30px 12px;
        border-top: solid 1px #707070;

        @include media(llg) {
          padding: 23px 12px;
        }

        @include media(mobile) {
          padding: 16px 0;
        }
      }

      .header-drawer-wrap-menu-top {
        display: flex;
        align-items: center;

        @include media(middle) {
          display: block;
        }

        li {
          &:first-child {
            width: 130px;
            font-size: clamp(15px, 1.4vw, 18px);
            font-weight: 900;
            font-family: $font-en;
            letter-spacing: 0.05em;

            @include media(middle-small) {
              width: 100%;
              margin-bottom: 5px;
            }

            @include media(mobile) {
              font-size: 18px;
            }
          }

          &:nth-of-type(2) {
            line-height: 1;

            a {
              display: inline-block;
              width: 158px;

              @include media(llg) {
                width: 154px;
              }
            }
          }
        }
      }

      .header-drawer-wrap-menu-child-center {
        align-items: center;
      }

      .header-drawer-wrap-menu-child {
        display: flex;
        //align-items: flex-start;
        //align-items: center;

        @include media(middle) {
          display: block;
        }

        li {
          font-size: clamp(15px, 1.4vw, 18px);
          font-weight: 900;
          font-family: $font-en;
          letter-spacing: 0.05em;

          &:first-of-type {
            //width: 25%;
            width: 130px;

            @include media(llg) {
              font-size: 16px;
              //width: 20%;
            }

            @include media(middle) {
              width: 100%;
              padding-left: 0;
              //margin-bottom: 5px;
            }

            @include media(mobile) {
              font-size: 18px;
            }
          }

          &:nth-of-type(2) {
            //width: 35%;
            width: 170px;

            @include media(llg) {
              font-size: 14px;
              width: 30%;
            }

            @include media(middle) {
              width: 100%;
              margin-bottom: 10px;
            }

            a {
              font-size: clamp(15px, 1.5vw, 18px);
              font-weight: 900;
              letter-spacing: 0.1em;

              @include media(mobile) {
                font-size: 16px;
              }
            }
          }

          &:last-of-type {
            display: flex;
            flex-wrap: wrap;
            gap: 22px;
            width: calc(100% - 300px);

            @include media(llg) {
              gap: 15px;
              width: 50%;
            }

            @include media(middle) {
              width: 100%;
              gap: 10px;
            }

            a {
              display: inline-block;
              padding: 12px 20px;
              border-radius: 24px;
              color: #fff;
              font-size: clamp(13px, 1.5vw, 16px);
              font-weight: 500;
              background-color: #3c3636;

              @include media(llg) {
                font-size: 13px;
                padding: 5px 12px;
              }

              @include media(mobile) {
                padding: 5px 10px;
              }
            }
          }
        }
      }

      .menu-child-blue {
        li {
          &:first-of-type {
            color: #214995 !important;
          }

          &:nth-of-type(2) {
            a {
              color: #214995 !important;
            }
          }

          &:last-of-type {
            a {
              background-color: #214995 !important;
            }
          }
        }
      }

      .menu-child-green {
        li {
          &:first-of-type {
            color: #5cb232 !important;
          }

          &:nth-of-type(2) {
            a {
              color: #5cb232 !important;
            }
          }

          &:last-of-type {
            a {
              background-color: #5cb232 !important;
            }
          }
        }
      }

      .menu-child-yellow {
        li {
          &:first-of-type {
            color: #f4ba1d !important;
          }

          &:nth-of-type(2) {
            a {
              color: #f4ba1d !important;
            }
          }

          &:last-of-type {
            a {
              background-color: #f4ba1d !important;
              color: #3c3636 !important;
            }
          }
        }
      }

      .menu-child-red {
        li {
          &:first-of-type {
            color: #e81e23 !important;
          }

          &:nth-of-type(2) {
            a {
              color: #e81e23 !important;
            }
          }

          &:last-of-type {
            a {
              background-color: #e81e23 !important;
            }
          }
        }
      }

      .header-drawer-wrap-menu-child-under {
        display: flex;
        align-items: center;
        padding: 30px 12px;
        border-top: solid 1px #707070;
        border-bottom: solid 1px #707070;
        //gap: 25px;

        @include media(middle) {
          gap: 0;
          padding: 23px 12px;
        }

        @include media(middle-small) {
          display: block;
          padding: 0;
          border-bottom: none;
        }

        li {
          &:first-child {
            width: 25%;
            font-size: 14px;
            font-weight: 900;
            font-family: $font-en;
            letter-spacing: 0.05em;

            @include media(middle) {
              width: 0;
            }

            @include media(middle-small) {
              width: 100%;
              margin-bottom: 5px;
            }
          }

          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            margin-right: 35px;

            @include media(middle-small) {
              margin-right: 0;
            }

            a {
              font-size: clamp(16px, 1.5vw, 18px);
              font-weight: 900;
              letter-spacing: 0.1em;

              @include media(llg) {
                font-size: 16px;
              }

              @include media(middle-small) {
                display: block;
                width: 100%;
                padding: 18px 0;
                border-bottom: solid 1px #707070;
                position: relative;
              }

              i {
                width: 22px;
                height: 22px;
                background-image: url(("./assets/img/icon/icon-btn-black.png"));
                background-size: contain;
                background-repeat: no-repeat;
                transition: transform 0.4s ease;
                display: none;
                position: absolute;
                right: 10px;

                @include media(middle-small) {
                  display: block;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }
  }
}

.header-fixed {
  width: 50px;
  height: 50px;
  z-index: 1001;
  display: block;
  transition: all 0.3s ease;
  position: fixed;
  right: 8%;
  top: 12px;

  @include media(llg) {
    right: 5%;
  }

  @include media(middle) {
    width: 45px;
    height: 45px;
    top: 14px;
  }

  @include media(mobile) {
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .header-fixed-menu {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #fff;
    border-radius: 50%;

    @include media(middle) {
      width: 45px;
      height: 45px;
    }

    @include media(mobile) {
      width: 40px;
      height: 40px;
    }

    .header-btn-active {
      background-color: #fefbf5 !important;
      border: none !important;
      margin-top: 45px;

      @include media(middle-small) {
        margin-top: 0px;
      }

      span {
        background-color: transparent;

        &:before {
          transform: rotate(-30deg) !important;
          top: 0px !important;
        }

        &::after {
          top: 0 !important;
          transform: rotate(30deg) !important;
        }
      }

      p {
        opacity: 1;
      }
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      background-color: #fff;
      border-radius: 50%;
      position: relative;
      border: 0.5px solid #3c3636;

      @include media(mobile) {
        background-color: inherit;
        border: 0.5px solid #3c3636;
      }
    }

    p {
      font-size: 12px;
      font-weight: 900;
      font-family: $font-en;
      letter-spacing: 0.05em;
      margin-bottom: 0;
      opacity: 0;
      position: absolute;
      right: -40px;
      top: 18px;

      @include media(middle) {
        bottom: -5px;
        right: 0px;
        top: inherit;
      }
    }

    span {
      position: absolute;
      width: 24px;
      height: 2px;
      display: block;
      left: 50%;
      bottom: 50%;
      z-index: 2;
      transition: all 0.3s ease;
      transform: translate(-50%, 50%);
      background-color: transparent;

      @include media(middle) {
        transform: translate(-50%, 50%);
      }

      @include media(mobile) {
        //background-color: #fff;
      }

      &:before {
        transition: all 0.3s ease;
        width: 24px;
        height: 3px;
        background-color: #3c3636;
        content: '';
        display: block;
        position: absolute;
        right: 0px;
        top: -4px;
      }

      &:after {
        transition: all 0.3s ease;
        width: 24px;
        height: 3px;
        background-color: #3c3636;
        content: '';
        display: block;
        position: absolute;
        right: 0px;
        top: 4px;
      }
    }
  }
}

.header-wrap-bg {
  position: absolute;
  left: 50%;
  top: 0px;
  background-color: #fefbf5;
  transform: translate(-50%, -200%);
  transition: all 0.7s ease;
  width: 100%;
  height: auto;
  opacity: 0;
  z-index: -1;
  height: 100%;

  img {
    display: block;
    width: 100%;
    position: absolute;
    bottom: calc(-20.7 * (100vw / 1280));
  }

  @include media(middle) {
    bottom: 0.6px;
  }
}

.body-header-active,
.body-drawer {
  .header {
    //background-color: #fefbf5;
  }

  .header-wrap-bg {
    opacity: 1;
    transform: translate(-50%, 0) !important;
  }
}

.header-page,
.body-drawer {
  .header-wrap {
    .header-wrap-logo {
      p {
        display: none !important;
      }
    }

    .header-wrap-list {
      display: flex !important;
      align-items: center !important;
      padding-bottom: 0px !important;

      @include media(middle) {
        //display: none !important;
      }
    }
  }
}

.header {
  position: fixed;
  //position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  border-bottom: 0px solid #e0e0d4;
  //background-color: transparent;
  background-color: transparent;
  padding: 19px 0;

  .header-wrap {
    width: 100%;
    padding: 0 8%;
    //max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    transition: all 0.3s ease;
    align-items: center;

    @include media(llg) {
      padding: 0 5%;
    }

    @include media(mobile) {
      padding: 0 10px;
    }

    .header-wrap-logo {
      transition: all 0.3s;
      display: flex;

      @include media(xl) {
        width: 188px;
      }

      @include media(lg) {
        width: 148px;
      }

      @include media(mobile) {
        width: 121px;
      }

      h1 {
        width: 100%;

        a {
          display: block;
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }

    .header-wrap-list {
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: right;
      padding-right: 60px;

      @include media(xl) {
        width: calc(100% - 188px);
      }

      @include media(lg) {
        width: calc(100% - 158px);
      }

      @include media(mobile) {
        width: calc(100% - 128px);
        padding-right: 45px;
      }

      .header-wrap-list-ul {
        display: flex;
        align-items: center;

        @include media(middle) {
          display: none !important;
        }

        .header-wrap-list-ul-item {
          margin-right: 14px;

          @include media(middle) {
            margin-right: 10px;
          }

          a {
            //font-size: 15px;
            font-size: clamp(15px, 1.5vw, 17px);
            font-weight: 500;
            display: block;
            white-space: nowrap;

            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }

            @include media(llg) {
              font-size: clamp(14px, 1.4vw, 15px);
            }

            @include media(lg) {
              font-size: clamp(12px, 1.15vw, 14px);
            }

            @include media(middle) {
              font-size: 10px;
            }
          }
        }
      }

      .header-wrap-list-btn {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2000;

        .header-wrap-list-ul-icon {
          width: 40px;
          height: 40px;
          margin-right: 11px;

          @include media(lg) {
            width: 30px;
            height: 30px;
          }

          @include media(middle) {
            width: 38px;
            height: 38px;
          }

          @include media(mobile) {
            width: 30px;
            height: 30px;
            margin-right: 5px;
          }

          a {
            display: block;
            width: 100%;
            height: 100%;

            img {
              width: 100%;
            }
          }
        }

        .header-wrap-list-ul-btn {
          width: 100%;
          max-width: 123px;
          background-color: #3c3636;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 5px 9px 5px 19px;
          border-radius: 24px;
          font-size: 16px;
          font-weight: 500;
          color: #fff;

          @include media(lg) {
            max-width: 103px;
            font-size: 14px;
            padding: 5px 10px;
          }

          @include media(mobile) {
            font-size: 12px;
            width: 93px;
          }

          i {
            width: 20px;
            height: 20px;
            background-image: url(("./assets/img/icon/icon-btn-blown.png"));
            background-size: contain;
            background-repeat: no-repeat;
            display: block;

            @include media(lg) {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }

    .header-wrap-nav {
      @include media(lg) {
        display: none;
      }

      ul {
        display: flex;
        align-items: center;

        li {
          margin-right: 30px;

          @include media(llg) {
            margin-right: 20px;
          }

          .arrow {
            position: relative;
            display: flex;
            align-items: center;

            &:after {
              content: '';
              display: block;
              background-image: url('./assets/img/icon/icon-arrow-bottom.png');
              background-size: contain;
              background-repeat: no-repeat;
              height: 4.5px;
              width: 10px;
              margin-left: 5px;
            }
          }

          a {
            display: block;
            font-size: 16px;
            color: $color-blue;
            font-weight: bold;
            position: relative;

            @include media(lg) {
              font-size: 13px;
            }

            &:before {
              width: 0px;
              height: 1px;
              background-color: $color-blue;
              content: '';
              display: block;
              position: absolute;
              left: 0px;
              bottom: 0px;
              transition: all 0.3s;
            }

            &:hover {
              &:before {
                width: 100% !important;
              }
            }
          }

          &:last-child {
            margin-right: 0;

            a {
              background-color: $color-blue;
              color: #fff;
              padding: 12px 30px;
              border-radius: 5px;
              border: 1px solid $color-blue;
              transition: all 0.3s ease;

              &:before {
                display: none !important;
              }

              &:hover {
                background-color: #edede7 !important;
                color: #003855 !important;
                opacity: 1;
              }
            }
          }
        }
      }

      .active {
        visibility: visible !important;
        opacity: 1 !important;
        height: auto !important;

        .sec02-wrap {
          transform: translateY(0%) !important;
          opacity: 1 !important;
        }
      }

      .header-wrap-nav-bottom {
        position: absolute;
        right: 50%;
        top: 0px;
        width: 100%;
        background-color: #f3f3ef;
        border-radius: 5px;
        max-width: 1180px;
        transform: translateX(50%);
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s;
        height: 0px;
        overflow: hidden;

        .sec02-wrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-top: 140px;
          transform: translateY(-10px);
          transition: all 0.3s;
          opacity: 0.5;

          .sec02-wrap-col {
            width: 20%;
            margin-bottom: 4%;
            margin-right: 3.5%;

            &:last-child {
              margin-right: 0;
            }

            .img-green {
              .sec02-wrap-col-img-wrap {
                border: 2px solid #44716a;
              }

              .sec02-wrap-col-img {
                &:before {
                  background-color: #44716a;
                }
              }
            }

            .img-blue {
              .sec02-wrap-col-img-wrap {
                border: 2px solid #4d6c83;
              }

              .sec02-wrap-col-img {
                &:before {
                  background-color: #4d6c83;
                }
              }
            }

            .img-purole {
              .sec02-wrap-col-img-wrap {
                border: 2px solid #834d76;
              }

              .sec02-wrap-col-img {
                &:before {
                  background-color: #834d76;
                }
              }
            }

            .img-brown {
              .sec02-wrap-col-img-wrap {
                border: 2px solid #958363;
              }

              .sec02-wrap-col-img {
                &:before {
                  background-color: #958363;
                }
              }
            }

            a {
              display: block;

              &:hover {
                opacity: 0.8;

                .sec02-wrap-col-img {
                  &:before {
                    transform: rotate(0deg);
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                  }

                  img {
                    transform: scale(1.1);
                  }
                }
              }

              .sec02-wrap-col-img {
                display: block;
                position: relative;
                margin-bottom: 20px;
                z-index: 2;

                &:before {
                  position: absolute;
                  left: -10px;
                  top: -10px;
                  content: '';
                  display: block;
                  border-radius: 10px;
                  width: 90%;
                  height: 90%;
                  z-index: -1;
                  transform: rotate(-5deg);
                  transition: all 0.6s ease;
                }

                .sec02-wrap-col-img-wrap {
                  overflow: hidden;
                  border-radius: 10px;
                }

                img {
                  border-radius: 10px;
                  transition: all 0.6s ease;
                }
              }

              p {
                text-align: center;
                font-weight: bold;
                margin: 0px;
                font-size: 17px;
                letter-spacing: 0.12em;
                color: $color-blue;
              }
            }
          }
        }
      }
    }

    .header-wrap-btn-active {
      span {
        transform: rotate(20deg) !important;

        @include media(mobile) {
          top: 10px !important;
          position: relative;
        }

        &:before {
          display: none !important;
        }

        &:after {
          transform: rotate(-40deg) !important;
          margin-top: 0px !important;
        }
      }

      strong {
        font-size: 0px !important;

        &:after {
          font-size: 12px;
          content: 'CLOSE';

          @include media(mobile) {
            font-size: 16px;
            content: '閉じる';
          }
        }

        &:before {
          @include media(mobile) {
            display: none;
          }
        }
      }
    }

    .header-wrap-btn {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 0px;
      top: 5px;
      background-color: $color-blue;
      border-radius: 5px;
      display: none;
      z-index: 999;

      @include media(lg) {
        display: block;
      }

      @include media(mobile) {
        width: 90px;
        height: 75px;
      }

      a {
        display: flex;
        color: #fff;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: center;
        line-height: 1;
        height: 100%;
        padding: 6px 0px;

        strong {
          font-size: 12px;
          font-weight: bold;
          color: #fff;
          line-height: 1;

          @include media(mobile) {
            font-size: 0px;
            display: block;
            margin-top: 5px;

            &:before {
              content: 'メニュー';
              font-size: 16px;
            }
          }
        }

        span {
          width: 37px;
          height: 3px;
          background-color: #fff;
          margin: 0 auto;
          transition: all 0.3s ease;

          @include media(mobile) {
            width: 45px;
          }

          &:before {
            content: '';
            display: block;
            width: 37px;
            height: 3px;
            background-color: #fff;
            margin-top: 8px;
            transition: all 0.3s ease;
            display: none;

            @include media(mobile) {
              margin-top: 9px;
              width: 45px;
              display: block;
            }
          }

          &:after {
            content: '';
            display: block;
            width: 37px;
            height: 3px;
            background-color: #fff;
            margin-top: 8px;
            transition: all 0.3s ease;

            @include media(mobile) {
              width: 45px;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
}

.header-wrap-nav-bottom-bg-active {
  display: block !important;
}

.header-wrap-nav-bottom-bg {
  position: fixed;
  left: 0 !important;
  top: 0px !important;
  width: 100vw;
  height: 100vh;
  background-color: $color-blue;
  opacity: 0.9;
  z-index: 99;
  display: block;
}

.header-drawer-active {
  transform: translateY(0px) !important;
  visibility: visible !important;
}
