@use 'setting' as *;
.schedule {
  .sec01 {
    padding-bottom: 80px;
    .sec01-swiper {
      max-width: 790px;
      margin: 0 auto;
      width: 100%;
      padding: 0px 73px 40px;
      .swiper-slide {
        img {
          border-radius: 30px;
          width: 100%;
        }
      }
      .swiper-button-prev {
        left: 0px;
        background-image: url('./assets/img/icon/swiper-btn-prev.svg');
        width: 57px;
        height: 57px;
        &:after {
          display: none;
        }
      }
      .swiper-button-next {
        right: 0px;
        background-image: url('./assets/img/icon/swiper-btn-next.svg');
        width: 57px;
        height: 57px;
        &:after {
          display: none;
        }
      }
      .swiper-pagination {
        bottom: 0px;
        .swiper-pagination-bullet {
          background-color: var(--color-black);
          opacity: 0.3;
          width: 12px;
          height: 12px;
          &-active {
            opacity: 1;
            background-color: #e81e23 !important;
          }
        }
      }
    }
    .sec01-btn {
      margin-top: 60px;
    }
  }
  .sec02 {
    .sec02-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .sec02-wrap-col {
        width: 48%;
        a {
          display: block;
          img {
            border: 1px solid #222222;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
