@use 'setting' as *;
.today {
  background-color: #fefbf5;
  .sec {
    padding-bottom: 20px;
  }
  .sec01 {
    padding-top: 60px;
    .sec01-swiper .swiper-button-prev {
      background-image: url('./assets/img/icon/swiper-btn-prev-yellow.svg') !important;
    }
    .sec01-swiper .swiper-button-next {
      background-image: url('./assets/img/icon/swiper-btn-next-yellow.svg') !important;
    }
  }

  .sec00 {
    padding-bottom: 100px;
    .sec00-loading {
      text-align: center;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 10;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 500;
      }
      .loader {
        width: 40px;
        height: 40px;
        border: 4px solid #e81e23;
        border-radius: 50%;
        border-top-color: transparent;
        animation: spin 1s linear infinite;
        .dot {
          width: 12px;
          height: 12px;
          background-color: #e81e23;
          border-radius: 50%;
          position: absolute;
          top: -6px;
          left: 50%;
          transform: translateX(-50%);
          animation: dot-spin 1s linear infinite;
        }
        @keyframes dot-spin {
          0% {
            transform: translateX(-50%) rotate(0deg);
          }
          100% {
            transform: translateX(-50%) rotate(360deg);
          }
        }
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
    .sec00-container {
      background-color: #fff;
      overflow: hidden;
      position: relative;
      width: 90%;
      max-width: 905px;
      margin: 40px auto;
      padding: 60px 110px;
      border-radius: 30px;
      position: relative;
      @include media(middle) {
        padding: 30px 0px 60px;
      }
      .sec00-attention {
        position: absolute;
        right: 30px;
        bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 10px;
        font-weight: 500;
        i {
          width: 23.5px;
          height: 23.5px;
          display: block;
          background-color: rgba($color: #e81e23, $alpha: 0.2);
          border-radius: 50%;
          margin-right: 3px;
        }
      }
    }
    #post_list {
      padding-top: 0px !important;
      display: block;
      .post_list_li {
        padding-top: 88px;
        width: 314px;
      }
    }
    .sec00-swiper {
      .swiper-slide {
        width: 97px !important;
        transition: all 0.3s ease;
        opacity: 0.5;
        transform: scale(0.9);
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
        @include media(middle) {
          width: 80px !important;
        }
        @include media(mobile) {
          width: 70px !important;
        }
        &.swiper-slide-active {
          opacity: 1 !important;
          transform: scale(1) !important;
          .swiper-slide-text {
            border: 3px solid #e81e23 !important;
          }
        }
        &.active-event {
          .swiper-slide-text {
            background-color: rgba($color: #e81e23, $alpha: 0.2) !important;
          }
        }
      }
      .swiper-slide-text {
        width: 97px;
        height: 96px;
        border: 3px solid #fff;

        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(middle) {
          width: 80px;
          height: 80px;
        }
        @include media(mobile) {
          width: 70px !important;
          height: 70px;
        }
        .swiper-slide-text-container {
          font-size: 22px;
          font-weight: 900;
          line-height: 1;
          padding-bottom: 10px;
          text-align: center;
          @include media(middle) {
            font-size: 20px;
          }
          @include media(mobile) {
            font-size: 12px;
          }
          &.swiper-sat {
            color: #214995 !important;
            * {
              color: #214995 !important;
            }
          }
          &.swiper-sun {
            color: #e81e23 !important;
            * {
              color: #e81e23 !important;
            }
          }
          strong {
            font-size: 33px;
            font-weight: 900;
            position: relative;
            letter-spacing: -0.05em;
            top: 10px;
            @include media(middle) {
              font-size: 34px;
            }
            @include media(mobile) {
              font-size: 24px;
            }
          }
          span {
            font-size: 17px;
            font-weight: bold;
            margin-top: 12px;
            display: block;
            font-family: $font-en;
            @include media(middle) {
              font-size: 16px;
              display: block;
              margin-top: 8px;
            }
            @include media(mobile) {
              font-size: 13px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .swiper-button-prev {
      left: 50px;
      background-image: url('./assets/img/icon/swiper-btn-prev.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      @include media(middle) {
        left: 10px;
        width: 25px;
        height: 25px;
      }
      @include media(mobile) {
        left: 20px;
        top: inherit;
        bottom: 20px;
      }
      &:after {
        display: none;
      }
    }
    .swiper-button-next {
      right: 50px;
      background-image: url('./assets/img/icon/swiper-btn-next.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      @include media(middle) {
        right: 10px;
        width: 25px;
        height: 25px;
      }
      @include media(mobile) {
        left: 50px;
        bottom: 20px;
        right: inherit;
        top: inherit;
      }
      &:after {
        display: none;
      }
    }
  }

  .sec06-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .sec06-bottom-col {
      width: 48%;
      @include media(mobile) {
        width: 100%;
        margin-bottom: 20px;
      }
      &:first-child {
        a {
          &:before {
            display: none !important;
          }
          .sec-01-col-under-title {
            img {
              width: 80%;
              max-width: 172px;
              @include media(middle) {
                width: 100%;
              }
            }
            .icon-btn {
              bottom: 13px;
              right: 135px;
              @include media(middle) {
                right: 30px;
                bottom: 13px;
              }
            }
          }
        }
      }
      &.sec06-bottom-col--schedule {
        .sec-01-col-under-img {
          @include media(mobile) {
            width: 30%;
          }
        }
        .sec-01-col-under-title {
          @include media(mobile) {
            width: 70%;
          }
          p {
            @include media(mobile) {
              //折り返し禁止
              white-space: nowrap;
            }
          }
        }
      }
    }
    .sec-01-col-under {
      width: 100%;
      position: relative;
      z-index: 4;
      a {
        display: flex;
        flex-direction: row-reverse;
        padding: 15px;
        border: solid 1px #222222;
        border-radius: 30px;
        background-color: #fff;
        position: relative;
        align-items: center;
        @include media(mobile) {
          height: 155px;
        }
        &::before {
          position: absolute;
          display: block;
          content: '';
          width: 77px;
          height: 85px;
          background-image: url(("./assets/img/icon/icon-suzu.png"));
          background-size: contain;
          background-repeat: no-repeat;
          right: -30px;
          top: -50px;
          transition: transform 0.4s ease;
          @include media(mobile) {
            display: none;
          }
        }

        &:hover {
          &::before {
            transform: translate(10px, -10px) rotate(10deg);
          }
          .sec-01-col-under-img {
            img {
              transform: scale(1.1);
            }
          }
          .sec-01-col-under-move-item {
            span {
              &:first-of-type {
                transform: rotate(-10deg);
              }

              &:nth-of-type(2) {
                transform: translateY(-10px);
              }
            }
          }
          .sec-01-col-under-title {
            h3 {
              i {
                transform: translate(15px, 5px);
              }
            }
          }
        }

        .sec-01-col-under-img {
          //width: 34%;
          width: 192px;
          height: 100%;
          border-radius: 22px;
          overflow: hidden;
          @include media(middle) {
            width: 125px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease;
          }
          &.sec-01-col-under-img--schedule {
            img {
              height: 124px;
              object-fit: contain;
              transform: translateX(10px);
            }
          }
        }

        .sec-01-col-under-title {
          width: calc(100% - 192px);
          padding: 0 10px;
          @include media(middle) {
            width: calc(100% - 125px);
            padding: 0 5px;
          }

          h3 {
            font-size: 57px;
            position: relative;
            color: #000;
            font-family: $font-en;
            display: flex;
            img {
              width: 100%;
              max-width: 218px;
            }

            span {
              font-size: 57px;
              font-family: $font-en;
              color: transparent;
              -webkit-text-stroke: 2px black;
            }

            .icon-fire {
              width: 37px;
              height: 53px;
              background-image: url(("./assets/img/icon/icon-01-small.png"));
              background-size: contain;
              background-repeat: no-repeat;
              //display: block;
              display: inline-block;
              transform: translateX(10px);
            }

            .icon-btn {
              width: 30px;
              height: 30px;
              background-image: url(("./assets/img/icon/icon-btn-big.png"));
              background-size: contain;
              background-repeat: no-repeat;
              //display: block;
              position: absolute;
              display: inline-block;
              transform: translate(10px, 5px);
              right: 30px;
              bottom: 10px;
              transition: transform 0.4s ease;
              @include media(middle) {
                width: 25px;
                height: 25px;
                right: -18px;
                bottom: 11px;
              }
            }
          }

          p {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.07em;
            margin-bottom: 0;
            @include media(middle) {
              font-size: 13px;
            }
          }
        }

        .sec-01-col-under-move-item {
          width: 139px;
          position: relative;
          span {
            position: absolute;
            transition: transform 0.4s ease;
            &:nth-of-type(3) {
              width: 35px;
              right: 0;
              top: 29px;
            }
            &:last-of-type {
              width: 50px;
              left: 0;
              bottom: 0;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .sec01-col-main {
    position: relative;
    z-index: 100;
    width: 100% !important;
    .swiper-pagination-00 {
      bottom: -30px;
    }

    .swiper-wrapper {
      padding-top: 88px;
      //display: flex;
      //flex-wrap: wrap;
      //justify-content: space-between;

      .swiper-slide {
        //width: 32.5%;
        width: 316px;

        @include media(mobile) {
          width: 225px;
        }

        a {
          display: block;
          width: 100%;
          position: relative;

          &:hover {
            .fire {
              animation: fire-reenter 0.8s ease-out forwards;
            }
          }

          /*HOT*/
          .hot {
            //display: block;
            font-family: $font-en;
            position: absolute;
            color: #e81e23;
            font-size: 25px;
            font-weight: 900;
            left: 10px;
            top: -45px;

            @include media(mobile) {
              font-size: 18px;
              top: -25px;
            }
          }

          .fire {
            width: 42px;
            display: block;
            position: absolute;
            top: -70px;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity 0.3s, transform 0.3s;
            opacity: 1;

            img {
              width: 100%;
            }
          }

          .img {
            text-align: center;
            border-radius: 30px 30px 0 0;
            border: solid 1px #3c3636;
            width: 100%;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .img-info {
            background-color: #f4ba1d;
          }

          .img-event {
            background-color: #5cb232;
          }

          .img-food {
            background-color: #e81e23;
          }

          .text {
            width: 100%;
            background-color: #fff;
            border-radius: 0 0 30px 30px;
            border: solid 1px #3c3636;
            border-top: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 21px 20px 30px;
            @include media(middle) {
              padding: 15px 20px 20px;
            }
            .text-info {
              display: flex;
              width: 100%;
              flex-wrap: wrap;
              @include media(mobile) {
                height: 48px;
              }
              .text-info-cat {
                width: 50%;
              }
              .text-info-term {
                width: 50%;
                text-align: right;
              }
            }

            .category {
              display: inline-block;
              padding: 2px 10px;
              color: #3c3636;
              font-size: 12px;
              font-weight: 500;
              letter-spacing: 0.1em;
              border: solid 0.5px #3c3636;
              border-radius: 25px;
              //折り返し禁止

              @include media(sm) {
                white-space: nowrap;
              }
            }

            .category-red {
              background-color: #e81e23;
              color: #fff !important;
            }

            .category-green {
              background-color: #5cb232;
              color: #fff !important;
            }

            .category-yellow {
              background-color: #f4ba1d;
            }
            .category-blue {
              background-color: #214995;
              color: #fff !important;
            }
            .cat-tokiwa {
              font-size: 11px;
              padding: 3px 8px;
            }
            .cat-relax {
              font-size: 8px;
              padding: 3px 6px;
            }

            .term {
              font-size: 13px;
              letter-spacing: 0em;
              font-weight: 500;
            }

            h3 {
              margin-top: 10px;
              font-size: 16px;
              width: 100%;
              font-weight: 500;
              letter-spacing: 0.1em;

              @include media(mobile) {
                font-size: 14px;
                height: 55px;
              }
            }
          }
        }
      }
    }
  }
}
